@font-face {
  font-family: 'Brown-Regular';
  src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Brown-Regular.otf')  format('opentype'),
       url('../fonts/Brown-Regular.woff') format('woff'), url('../fonts/Brown-Regular.ttf')  format('truetype'), url('../fonts/Brown-Regular.svg#Brown-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown-Bold';
  src: url('../fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Brown-Bold.otf')  format('opentype'),
       url('../fonts/Brown-Bold.woff') format('woff'), url('../fonts/Brown-Bold.ttf')  format('truetype'), url('../fonts/Brown-Bold.svg#Brown-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown-Thin';
  src: url('../fonts/Brown-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/Brown-Thin.otf')  format('opentype'),
       url('../fonts/Brown-Thin.woff') format('woff'), url('../fonts/Brown-Thin.ttf')  format('truetype'), url('../fonts/Brown-Thin.svg#Brown-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
