$font-family-sans-serif: 'Brown', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: 'Brown', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 14px;

$grid-gutter-width: 10px;

$weight-thin: 100;
$weight-light: 300;
$weight-reg: normal;
$weight-bold: bold;

$headings-font-weight: $weight-bold;

$blockquote-font-size: $font-size-base;

$text-color: #4A4A4A;

$brand-primary: #EA1A38; // red

$darkpurple: #4D0C41; // header background
$purple: #9E1E5D; // header background

$gray-line: #E7E7E7;
$gray-well: #F4F4F4; // well background
$gray-lighter: #D6D6D6; // footer gray
$gray-light: #6F6B6B; // input placeholder
$gray-cart: #4A4A4A; // cart button
$gray: #3A3A3A; // footer background
$gray-dark: #202020; // footer background
$header-color: #1e252b;


$navbar-height: 80px;
$navbar-border-radius: 0;
$navbar-margin-bottom: 0;

$navbar-default-bg: $darkpurple;
$navbar-default-border: transparent;
$navbar-default-color: #FFFFFF;
$navbar-default-link-color: #FFF;
$navbar-default-link-hover-color: lighten($purple, 20);

$navbar-default-link-active-color:  darken($navbar-default-link-hover-color, 20);
$navbar-default-link-active-bg:     darken($navbar-default-bg, 2);

$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #FFF;

$border-radius-base: 4px;
$border-radius-large: 6px;

$input-height-base: 40px;
$input-border: #979797;
$input-color-placeholder: $gray-light;

/* -- FONT -------- */
$icon-arrow-down:         '\e800';
$icon-arrow-left-circle:  '\e801';
$icon-arrow-left:         '\e802';
$icon-arrow-right-circle: '\e803';
$icon-arrow-right:        '\e804';
$icon-arrow-up:           '\e805';
$icon-calendar:           '\e807';
$icon-cart:               '\e808';
$icon-close-circle:       '\e809';
$icon-cloud:              '\e80a';
$icon-globe:              '\e80b';
$icon-instagram:          '\e80c';
$icon-minus-circle:       '\e80d';
$icon-people-fill:        '\e80e';
$icon-people-line:        '\e80f';
$icon-plus-circle:        '\e810';
$icon-trophy:             '\e811';
$icon-bed-line:           '\e812';
$icon-youtube:            '\f167';
$icon-diamond:            '\f219';
$icon-bed:                '\f236';
$icon-handshake-o:        '\f2b5';
$icon-user-circle-o:      '\f2be';
$icon-twitter-squared:    '\f304';
$icon-facebook-squared:   '\f308';

