.component-info-settings {
  font-weight: $weight-bold;
  padding: 0;
  text-align: center; 

  li {
    display: inline-block;
    margin: 0 10px;

    + li:before {
      content: "|";
      margin-right: 10px;
    }

    span.icon {
      font-size: 20px;

      &.icon-cloud {
        position: relative;
        top: 3px;
      }
    }

    button.dropdown-toggle {
      background: transparent;
      border: none;
      color: $brand-primary;
      padding: 0;
    }
  }
}

.component-search-inline {
  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 12%;

      &:nth-child(1) {
        width: 58%;

        @include breakpoint(tablet) {
          width: 28%;
        }
      }

      .form-control {
        width: 100%;
      }
    }

    input[type="submit"] {
      width: 40%;

      @include breakpoint(tablet) {
        width: 20%;
      }
    }
  }

  .input-group-addon {
    background-color: #FFF;

    + input {
      border: none;
    }
  }
}

.component-legend {
  margin-top: 20px;
  border-top: 1px solid $gray-line;
  width: 100%;

  td {
    padding-top: 15px;
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      font-weight: $weight-thin;
    }
  }

  .square {
    border-radius: $border-radius-base;
    display: block;
    height: 35px;
    margin-right: 10px;
    width: 35px;

    &.selected {
      background-color: $purple;
    }

    &.available {
      border: 2px solid $purple;
    }

    &.unavailable {
      background-color: $gray-line;
    }
  }
}

.component-steps-indicator {
  width: 99%;

  .btn {
    background-color: #FFF;
    font-weight: $weight-reg;
    color: #9b9b9b;
    cursor: default;
    border: none;

    + .btn {
      border-left: 1px solid $gray-lighter;
    }
  }

  .active {
    background-color: $purple;
    color: #FFF;

    span {
      display: inline-block;

      &:after {
        content: '';
        display: block;
        border-bottom: 1px solid #FFF;
        margin: -5px auto 0;
        width: 90%;
      }
    }

    + .btn {
      border-left-color: transparent;;
    }
  }
}