.component-info-settings {
  font-weight: $weight-bold;
  padding: 0;
  text-align: center; 

  li {
    display: inline-block;
    margin: 0 10px;

    + li:before {
      content: "|";
      margin-right: 10px;
    }


    span.icon {
      font-size: 20px;

      &.icon-cloud {
        position: relative;
        top: 3px;
      }
    }

    button {
      background: transparent;
      border: none;
      padding: 0;

      .icon {
        color: $brand-primary;
      }

      &:hover span {
        color: $purple;
      }
    }
  }

  .navbar & {
    button {
      color: #FFF;
    }

    @media (max-width: $screen-xs-max) {
      li {
        margin: 0;

        + li:before {
          content: '';
          margin: 0;
        }
        
      }
      .weather {
        display: none;
      }

      .language, .currency {
        .icon + span {
          display: none;
        }
      }
    }
  }

}

.component-search-inline {
  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 13%;

      &:nth-child(1) {
        width: 58%;

        @include breakpoint(tablet) {
          width: 28%;
        }
      }

      .form-control {
        width: 100%;
      }
    }

    .btn-search {
      width: 40%;

      @include breakpoint(tablet) {
        width: 18%;
      }
    }
  }

  .input-group-addon {
    background-color: #FFF;

    + input {
      border: none;
    }
  }
}

.component-legend {
  width: 100%;

  .header + p {
    font-size: 12px;
  }

  td {
    padding: 0 !important;
    width: 1% !important;
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      font-weight: $weight-reg;
      font-size: 11px;
      line-height: 10px;
    }
  }

  .square {
    border-radius: $border-radius-base;
    display: block;
    height: 22px;
    margin-right: 10px;
    width: 22px;

    &.selected {
      background-color: $purple;
    }

    &.available {
      border: 2px solid $purple;
    }

    &.unavailable {
      background-color: $gray-line;
    }
  }
}

.component-steps-indicator {
  ul {
    padding: 0;
    list-style: none;
    background: transparent;
    border-radius: $border-radius-base;
    margin-bottom: 0;
    height: 40px;
    font-size: 12px;
    padding: 4px;
    text-align: center;

    @include breakpoint(tablet) {
      background: #FFF;
      width: 360px;
    }

    .modal-shows-selection & {
      width: 100%;
      margin-bottom: 20px;
      background: #FFF;

      @media (max-width: $screen-xs-max) {
        li:not(.active) {
          .badge + span {
            display: none;
          }
        }
      }
    }

    li {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
      position: relative;
      margin: 0 17px;
      text-transform: uppercase;
      font-weight: $weight-reg;
      color: $text-color;

      &:first-child {
        margin-left: 0;
      }
      
      @include breakpoint(tablet) {
        margin: 0 12px;

        &.active {
          margin: 0 16px 0 7px;
        }
      }

      + li:before {
        content: $icon-arrow-right;
        font-family: 'icons';
        color: #9B9B9B;
        font-weight: bold;
        font-size: 8px;
        position: absolute;
        left: -18px;
        top: 11px;
      }
      
      &.chosen-date {
        margin: 0 0 0 -16px;

        &:before {
          content: '';
        }

        div {
          padding: 8px 7px 7px;

          &:before {
            content: $icon-calendar;
            font-family: 'icons';
            margin-right: 5px;
          }
        }

        span:after {
          border-bottom: none;
          margin: 0;
        }
      }

      > div {
        padding: 8px 7px 7px;
        border-radius: $border-radius-base;
      }

      .badge {
        font-weight: $weight-bold;
        height: 16px;
        width: 16px;
        text-align: center;
        padding: 3px 0 0;
        color: #FFF;
        background: #9b9b9b;
        position: relative;
        top: -1px;

        + span {
          margin-left: 10px;
        }
      }
    }
  }

  .btn {
    font-weight: $weight-reg;
    background-color: #FFF;
    color: #9b9b9b;
    cursor: default;
    border: none;
    padding: 0;

    + .btn {
      border-left: 1px solid $gray-lighter;
    }
  }

  .active {
    > div {
      background-color: $purple;
      color: #FFF;

      .badge {
        background: #FFF;
        color: $text-color;
      }
    }
  }
}

.component-price-option {
  font-weight: $weight-reg;

  .price {
    color: $brand-primary;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 0;

    sup {
      color: $text-color;
      font-size: 10px;
      left: -8px;
      top: -1.8em;
    }
  }

  .btn-gray {
    height: auto;
    line-height: 14px;
  }
}


/* SLIDESHOW */
.component-slideshow {
  position: relative;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  ul.slides {
    li {
      position: relative;

      .caption {
        position: absolute;
        z-index: 1;
        color: #FFF;
        font-weight: $weight-bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        line-height: 19px;
        padding: 0px 60px;
        bottom: 60px;

        p {
          font-size: 20px;

          &.header {
            font-size: 30px;
          }
        }
      }
    }
  }

  ul.dots, ul.arrows {
    position: absolute;
    
    button {
      padding: 0;
    }
  }

  ul.dots {
    text-align: center;
    bottom: 35px;
    left: 0;
    width: 100%;

    li {
      > button {
        background: #FFF;
        display: block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 3px solid #FFF;
        margin: 0 2px;
      }

      &.active button {
        background-color: #2B2B2B;
      }

      &:hover button {
        background-color: $gray-lighter;
      }
    }
  }

  ul.arrows {
    top: 0;
    width: 100%;
    height: 100%;

    button {
      background: transparent;
      border: none;
      height: 100%;
      color: #FFF;
      font-size: 20px;
      position: absolute;
      padding: 0 30px;
      top: 0;
    }

    .prev {
      button {
        left: 0;
      }
    }

    .next {
      button {
        right: 0;
      }
    }
  }
}

.component-preloader {
  width: 250px;
  border-radius: 12px;
  border: 2px solid $brand-primary;
  height: 12px;
  margin: 20px auto;

  .mask {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: $brand-primary;
    width: 80%;
    display: block;
    height: 100%;
  }
}

/* PRICE SUMMARY TABLE */
.component-review-customer-info {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;

  th, td {
    width: 1%;
    padding: 5px 0;
  }

  td {
    font-weight: $weight-light;
  }
}

.component-review-price {
  font-size: 16px;
  width: 100%;
  height: 100%;

  h3 {
    text-align: center;
    border-bottom: 1px solid $gray-line; 
    padding-bottom: 10px;
  }

  tr {
    th {
      width: 150px;
    }
    td {
      padding: 18px 0;
      font-weight: $weight-light;
    }

    &:nth-child(1n+3) {
      border-top: 1px solid $gray-line; 
    }

    &:last-child {
      td:last-child {
        color: $purple;
        font-weight: $weight-bold;
      }
    }
  }

  .review-total td {
    color: $purple;
    text-align: right;
  }

  .grand-total {
    font-size: 18px;
  }

  &.table-compact {
    tr {
      td {
        padding: 8px 0;
      }
    }
  }

  &.price-details {
    h3 {
      text-align: left;
    }

    tr {
      &:nth-child(1n+2) {
        border-top: 1px solid $gray-line; 
      }

      td {
        padding: 13px 0;
      }
    }

    td + td {
      text-align: right;
    }

    ul {
      padding: 0;
      color: $purple;

      li {
        list-style-type: none;
      }
    }
  }
}

.checkout-payment-method {
  label.input-replace {
    overflow: hidden;
    position: relative;
    width: 49%;
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;

    span {
      font-size: 16px;
      font-weight: $weight-light;
      width: 100%;
    }

    input[type="radio"] {
      position: absolute;
      left: -100%;

      &:checked + span {
        background-color: $gray-cart;
        color: #FFF;
        font-weight: $weight-reg;
      }
    }
  }
}

.shows-calendar, .modal-shows-selection .ui-datepicker-inline .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;

  th, td {
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    color: #989898;
  }

  th {
    border-bottom: none;
    color: $text-color;
  }

  td {
    background: #FFF;

    span, a {
      color: #9B9B9B;
      display: block;
      border-radius: $border-radius-base;
      border: 2px solid $purple;
      margin: 2px;
      height: 33px;
      width: 40px;
      line-height: 30px;

      @include breakpoint(tablet) {
        height: 37px;
        width: 44px;
        line-height: 35px;
      }
    }

    &.unavailable, &.ui-datepicker-unselectable.ui-state-disabled {
      span, a {
        background: $gray-line;
        color: #9B9B9B;
        border-color: $gray-line;
      }
    }

    &.selected, &.ui-datepicker-current-day {
      span, a {
        background: $purple;
        color: #FFF;
      }
    }
  }
}

.ui-datepicker {
  background: $purple;
  border-radius: $border-radius-large;
  padding: 20px;
  box-sizing: border-box;
  @include clearfix();

  @include breakpoint(tablet) {
    .form-floating & {
      width: 674px !important;
    }
  }

  .ui-datepicker-title {
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;

    .ui-datepicker-month {
      font-weight: $weight-bold;
    }

    .ui-datepicker-year {
      font-weight: $weight-light;
    }
  }

  .ui-datepicker-group {
    float: left;

    + .ui-datepicker-group {
      margin-left: 54px;
    }
  }

  td {
    text-align: center;

    a {
      display: inline-block;
    }
  }

  .ui-state-disabled .ui-state-default {
    color: rgba(255, 255, 255, 0.3);
  }

  .ui-datepicker-calendar {
    width: 290px;
  }

  .ui-datepicker-current-day {
    position: relative;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      display: block;
      background: #FFF;
      border-radius: 50%;
      z-index: 0;
      position: absolute;
      top: -3px;
      left: 8px;
    }
  }

  .ui-state-default {
    color: #FFF;
    font-weight: $weight-reg;
    font-size: 15px;
    width: 24px;
    height: 24px;

    &.ui-state-active {
      color: $purple;
      position: relative;
      z-index: 1;
    }
  }

  tbody > tr:first-child > td {
    padding-top: 10px;
  }

  th {
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    padding-bottom: 6px;
    font-weight: $weight-reg;
    border-bottom: 1px solid $purple-line;
    font-size: 12px;
  }

  .ui-datepicker-header {
    position: relative;
  }

  .ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 0;

    &.ui-state-disabled {
      opacity: 0.3;
      cursor: default;
    }
    
    span {
      display: none;
    }

    &:before, &:after {
      font-family: 'icons';
      font-size: 16px;
      color: #FFF;
    }
  }

  .ui-datepicker-prev {
    left: 0;
    &:before {
      content: $icon-arrow-left;
    }
  }

  .ui-datepicker-next {
    right: 0;
    &:after {
      content: $icon-arrow-right;
    }
  }

  /* INLINE DATEPICKER */
  &.ui-datepicker-inline {
    background: #FFF;
    width: 100% !important;
    padding: 0;

    .ui-datepicker-title {
      text-transform: uppercase;
    }

    .ui-datepicker-calendar {
      width: 100%;
    }
  }
}
