.component-info-settings {
  font-weight: $weight-bold;
  padding: 0;
  text-align: center; 

  li {
    display: inline-block;
    margin: 0 10px;

    + li:before {
      content: "|";
      margin-right: 10px;
    }

    span.icon {
      font-size: 20px;

      &.icon-cloud {
        position: relative;
        top: 3px;
      }
    }

    button.dropdown-toggle {
      background: transparent;
      border: none;
      color: $brand-primary;
      padding: 0;
    }
  }
}

.component-search-inline {
  .form-inline {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
      width: 12%;

      &:nth-child(1) {
        width: 58%;

        @include breakpoint(tablet) {
          width: 28%;
        }
      }

      .form-control {
        width: 100%;
      }
    }

    input[type="submit"] {
      width: 40%;

      @include breakpoint(tablet) {
        width: 20%;
      }
    }
  }

  .input-group-addon {
    background-color: #FFF;

    + input {
      border: none;
    }
  }
}

.component-legend {
  margin-top: 20px;
  border-top: 1px solid $gray-line;
  width: 100%;

  td {
    padding-top: 15px;
  }

  ul {
    padding: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      font-weight: $weight-thin;
    }
  }

  .square {
    border-radius: $border-radius-base;
    display: block;
    height: 35px;
    margin-right: 10px;
    width: 35px;

    &.selected {
      background-color: $purple;
    }

    &.available {
      border: 2px solid $purple;
    }

    &.unavailable {
      background-color: $gray-line;
    }
  }
}

.component-steps-indicator {

  .btn {
    font-weight: $weight-reg;
    background-color: #FFF;
    color: #9b9b9b;
    cursor: default;
    border: none;
    padding: 0;

    + .btn {
      border-left: 1px solid $gray-lighter;
    }
  }

  .active {
    background-color: $purple;
    color: #FFF;

    span {
      display: inline-block;

      &:after {
        content: '';
        display: block;
        border-bottom: 1px solid #FFF;
        margin: -5px auto 0;
        width: 90%;
      }
    }

    + .btn {
      border-left-color: transparent;
    }
  }
}

.component-price-option {
  font-weight: $weight-reg;

  .price {
    color: $brand-primary;
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 0;

    sup {
      color: $text-color;
      font-size: 10px;
      left: -8px;
      top: -1.8em;
    }
  }

  .btn-gray {
    height: auto;
    line-height: 14px;
  }
}


/* SLIDESHOW */
.component-slideshow {
  position: relative;
  padding: 0;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  ul.slides {
    li {
      position: relative;

      .caption {
        position: absolute;
        z-index: 1;
        color: #FFF;
        font-weight: $weight-bold;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        line-height: 19px;
        padding: 0px 60px;
        bottom: 60px;

        p {
          font-size: 20px;

          &.header {
            font-size: 30px;
          }
        }
      }
    }
  }

  ul.dots, ul.arrows {
    position: absolute;
    
    button {
      padding: 0;
    }
  }

  ul.dots {
    text-align: center;
    bottom: 35px;
    left: 0;
    width: 100%;

    li {
      > button {
        background: #FFF;
        display: block;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: 3px solid #FFF;
        margin: 0 2px;
      }

      &.active button {
        background-color: #2B2B2B;
      }

      &:hover button {
        background-color: $gray-lighter;
      }
    }
  }

  ul.arrows {
    top: 0;
    width: 100%;
    height: 100%;

    button {
      background: transparent;
      border: none;
      height: 100%;
      color: #FFF;
      font-size: 20px;
      position: absolute;
      padding: 0 30px;
      top: 0;
    }

    .prev {
      button {
        left: 0;
      }
    }

    .next {
      button {
        right: 0;
      }
    }
  }
}

.component-preloader {
  width: 250px;
  border-radius: 12px;
  border: 2px solid $brand-primary;
  height: 12px;
  margin: 20px auto;

  .mask {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: $brand-primary;
    width: 80%;
    display: block;
    height: 100%;
  }
}

/* PRICE SUMMARY TABLE */
.component-review-price {
  font-size: 18px;
  width: 100%;
  height: 100%;

  h3 {
    text-align: center;
  }

  tr {
    td {
      padding: 18px 0;
    }

    &:nth-child(1n+3) {
      border-top: 1px solid $gray-line; 
    }

    &:last-child {
      td:last-child {
        color: $purple;
        font-weight: $weight-bold;
      }
    }
  }

  .review-total td {
    color: $purple;
    text-align: right;
  }

  .grand-total {
    font-size: 18px;
  }

  &.table-compact {
    tr {
      td {
        padding: 8px 0;
      }
    }
  }

  &.price-details {
    h3 {
      text-align: left;
    }

    tr {
      &:nth-child(1n+2) {
        border-top: 1px solid $gray-line; 
      }

      td {
        padding: 13px 0;
      }
    }

    td + td {
      text-align: right;
    }

    ul {
      padding: 0;
      color: $purple;

      li {
        list-style-type: none;
      }
    }
  }
}

.checkout-payment-method {
  label.input-replace {
    overflow: hidden;
    position: relative;
    width: 49%;
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;

    span {
      font-size: 16px;
      font-weight: $weight-light;
      width: 100%;
    }

    input[type="radio"] {
      position: absolute;
      left: -100%;

      &:checked + span {
        background-color: $gray-cart;
        color: #FFF;
        font-weight: $weight-reg;
      }
    }
  }
}