form {
  .btn {
    height: 40px;
  }
}

.form-control {
  font-weight: $weight-reg;
  box-shadow: none;
}

.form-layout {
  @include make-row();

  &.column-2 {
    &.sm {
      .column {
        @include make-sm-column(6);
      }
    }
  }
}

.form-control {
  background-color: #FFF;

  &:focus {
    border: 1px solid $purple;
    box-shadow: 0 0 10px rgba(158, 30, 93, 0.15);
  }
}

.input-group {
  border: 1px solid white;
  border-radius: $border-radius-base;

  * {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .input-group-addon {
    background-color: #FFF;
    padding: 6px 8px;

    .icon {
      font-size: 20px;

      &.icon-bed-line {
        font-size: 24px;
      }
    }
  }

  input.form-control {
    height: 38px;
  }

  input:focus {
    border: none;
    box-shadow: none;
  }

  &.focus {
    box-shadow: 0 0 10px rgba(158, 30, 93, 0.15);
    border-color: $purple;

    .input-group-addon {
      border-top-left-radius: $border-radius-base;
      border-bottom-left-radius: $border-radius-base;
    }

    input {
      border-top-right-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

.form-floating {
  .form-control {
    font-size: 15px;
    height: 47px;
  }

  .select {
    background: #FFF;
    border: none;

  }

  .checkbox {
    color: #FFF;
  }

  .form-wrap {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: $border-radius-large;
  }

  .component-info-settings {
    margin-bottom: 20px;
  }

  label + div {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: $border-radius-base;

    .form-control {
      box-shadow: none;
    }
  }

  .form-control {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }

  .input-group {
    .input-group-addon {
      background: white;
    }

    input.form-control {
      height: 45px;
    }
  }

  .btn {
    height: 47px;
    line-height: 36px;
  }
}

.form-compact {
  margin: 0 auto;
  font-size: 15px;
  /*width: 375px;*/

  .form-wrap {
    margin-bottom: 10px;
    padding: 23px;
  }

  p {
    font-weight: $weight-reg;
    margin-top: 20px;
  }

  .btn {
    font-size: 14px;
  }
}

.form-purple {
  .form-wrap {
    background: rgba(158, 30, 93, 0.9);
  }

  h3 {
    margin-top: 0;
    font-weight: $weight-reg;
  }

  @include breakpoint(tablet) {
    h3, h4, a, p, .component-info-settings *, .component-info-settings li button .icon {
      color: #FFF;
    }

    .component-info-settings li button:hover * {
      color: $brand-primary;
    }
  }


  .page-landing & {
    p strong {
      color: $text-color;

      @include breakpoint(tablet) {
        color: #FFF;
      }
    }
    h3, h4, a, p {
      color: #FFF;
    }
  }
}

.form-wide {
  @media (max-width: $screen-xs-max) {
    padding: 0 10px;
  }

  .form-wrap {
    padding: 25px;

    @media (max-width: $screen-xs-max) {
      background: rgba(255, 255, 255, 0.85);
    }
  }

  @include breakpoint(tablet) {
    .component-info-settings {
      margin-bottom: 0;
    }
  }

  ul.inline {
    text-align:center;

    li + li:before {
      content: '|';
      margin-right: 10px;
    }
  }

  form {
    margin-bottom: 20px;
  }

  .form-group {
    float: left;
    padding: 0 5px;
    width: 100%;

    @include breakpoint(tablet) {
      &.search-type {
        width: 35%;
      }

      &.search-date {
        width: 15%;
      }

      &.search-guestroom {
        width: 28%;
        padding: 0 10px;

        > .row > div {
          padding: 0 5px;
        }
      }

      &.search-promocode {
        width: 17%;
      }

      &.search-button {
        width: 17%;
      }
    }
  }

  .cta-wrap {
    margin-top: 30px;

    h3 {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }

    .btn {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .btn {
    font-size: 14px;

    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.panel-form-purple {
  label {
    font-weight: $weight-reg;
    color: $purple;
  }

  td {
    padding: 30px 0 20px 5px;
    width: 1%;
  }

  select {
    border: 2px solid $purple;
  }

  .total-price {
    span, .form-control {
      color: $purple;
      font-size: 16px;
    }
  }
}


label:not(.sr-only, .radio-as-list) {
  overflow: hidden;
  position: relative;
  min-height: 20px;

  .radio &, .checkbox & {
    padding: 0;
  }

  input[type="radio"], input[type="checkbox"] {
    position: absolute;
    left: -100%;

    + span:before {
      font-family: 'icons';
      position: absolute;
      top: -1px;
      left: 0;
    }

    + span {
      padding-left: 25px;
      position: relative;
      display: block;
    }
  }

  input[type="radio"] {
    &:checked + span:before {
      content: $icon-radio-checked;     
    }

    + span:before {
      content: $icon-radio-empty;     
    }
  }

  input[type="checkbox"] {
    &:checked + span:before {
      content: $icon-checkbox-checked;     
    }

    + span:before {
      content: $icon-checkbox-empty;     
    }
  }
}

label.radio-as-list {
  cursor: pointer;
  padding: 16px 0 12px;
  border-bottom: 1px solid #FFF;
  overflow: hidden;
  position: relative;
  font-size: 16px;

  input {
    position: absolute;
    left: -100px;

    + span {
      font-weight: $weight-reg;
    }

    &:checked {
      + span {
        color: $brand-primary;
        font-weight: $weight-bold;
      }
    }
  }
}

.select {
  position: relative;
  border-radius: $border-radius-base;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    height: 38px;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: $icon-arrow-down;
    font-family: 'icons';
    position: absolute;
    right: 10px;
    top: 0;
    color: $text-color;
    height: 100%;
    border-radius: 0 4px 4px 0;
    padding: 12px 0 0 16px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+45 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  }

  /* HEADER */

  .header_bar-primary &, .header_bar-secondary & {
    background-color: #FFF;
    border: none;

    select {
      height: 40px;
    }
  }

  &.payment-method {
    background: $gray-cart;
    color: #FFF;
    margin-bottom: 20px;

    select, &:after {
      color: #FFF;
    }
  }
}

.form-gutter [class^="col-"] {
  padding-left: 3px;
  padding-right: 3px;
}

.form-wrap-center {
  border: 1px solid #ECECEC;

  .clearfix {
    width: 80%;
    margin: 30px auto 20px;
  }
}

.group-selection {
  margin: 15px 0 0;
}