html, body {
  font-weight: $weight-light;
}

.font-notera {
  font-family: 'Notera', sans-serif !important;
}

body.modal-open {
  overflow: hidden;

  .menu {
    overflow: auto;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}

.border-top-brand {
  height: 5px;
  width: 100%;
  display: block;
  background: $brand-primary;
}


img {
  max-width: 100%;
}

ul.inline {
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: middle;
  }
}

hr {
  background: none;
}

.fineprint {
  font-weight: $weight-light;
  font-size: 12px;

  p {
    margin: 20px 0;
  }
}

.close {
  color: #FFF;
  opacity: 1;
  font-size: 20px;
  right: 30px;
  top: 20px;
  position: absolute;

  &:before {
    content: $icon-cancel;
    font-family: 'icons';
  }
}


/* MENU */
.menu {
  background: $purple-header;
  font-weight: $weight-reg;
  padding: 1.875em 0;
  position: absolute;
  right: 0;
  bottom: 0;
  top: $navbar-height;
  left: 0;
  z-index: 10;
  display: none;

  &.in {
    display: block;
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  a {
    color: #FFF;
    text-transform: uppercase;
    display: block;
    padding: 0.625em 0;
    font-size: 18px;

    @include breakpoint(tablet) {
      font-size: 20px;
    }
  }
}

/* NAVBAR */
.navbar-header {
  width: 100%;
  
  a.navbar-brand {
    padding: 20.5px 10px;
  }

  button.navbar-toggle {
    float: left;
    display: block;
  }
}

.navbar-brand {
  width: 150px;
  line-height: 42px;
  margin-left: -20px;

  @include breakpoint(tablet) {
    width: 200px;
    line-height: 20px;
    margin-left: 0;
  }
}

.navbar-menu {

  float: right;
  color: #FFF;
  padding: 0;
  margin-bottom: 0;
  font-weight: $weight-reg;
  padding-top: 22.5px;

  @media (max-width: $screen-xs-max) {
    margin-top: 12px;
  }

  > li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;

    @include breakpoint(tablet) {
      + li {
        margin: 0 10px;
        position: relative;

        &:before {
          content: "|";
          font-weight: $weight-bold;
          position: absolute;
          left: -10px;
          top: 50%;
          margin-top: -10.5px;
        }
      }
    }

    > a {
      padding: 0;
      color: #FFF;
      position: relative;
      display: block;

      .badge {
        display: block;
        position: absolute;
        top: 0;
        left: 20px;
        z-index: 1;
        background: red;
        padding: 4px 3px 2px 3px;
        border-radius: 50%;
        font-size: 10px;
      }
    }
  }

  .icon {
    font-size: 20px;
  }

  .component-info-settings {
    @media (max-width: $screen-xs-max) {
      margin-top: -20px;
    }

    li button span {
      color: #FFF;
    }
  }

  .user-profile {
    margin: 0;

    .avatar {
      height: 25px;
      width: 25px;
      border-radius: 50%;
      border: 2px solid #FFF;
      position: relative;
      margin-top: -5px;
      margin-left: 10px;

      @include breakpoint(tablet) {
        height: 35px;
        width: 35px;
        margin-top: -3px;
      }
    }

    &:before {
      content: '';
    }

    .icon {
      font-size: 24px;
      color: #FFF;
    }

    .dropdown-menu {
      left: auto;
      right: 0;
      background: $gray-line;

      a {
        font-weight: $weight-bold;
        padding: 10px 15px;
      }

      li + li {
        border-top: 1px solid $gray-lighter;
      }
    }
  }
}

/* HEADERS */
.header_social-links {
  padding: 0;

  li {
    display: inline-block;
    vertical-align: middle;

    a {
      color: #FFF;
    }
  }
}

.header_bar-primary, .header_bar-secondary {
  padding: 12px 0;

  input, select {
    font-weight: $weight-reg;
    border-color: #FFF;
  }
}

.header-bar {
  background-color: $purple;

  + .header-bar {
    background-color: $gray-line;
  }

  .bar-select {
    width: 65%;
    
    @include breakpoint(tablet) {
      width: 320px;
    }
  }

  .bar-date {
    width: 160px;
  }

  .bar-promo {
    width: 183px;
  }
}

.header_bar-primary {
  .btn {
    font-size: 15px;
  }
}

.header_bar-secondary {
  td + td {
    padding-left: 5px;
  }

  .btn {
    font-size: 14px;
  }

  > .container > table td:last-child {
    width: 240px;

    .btn {
      width: 100%;
    }
  }
}

.member-info-bar {
  background: #9B9B9B;

  @media (max-width: $screen-xs-max) {
    .container {
      padding: 0;
    }
  }

  .clearfix > div {
    color: #FFF;
    font-weight: $weight-reg;
    padding: 7px 20px 8px;

    &:nth-child(1) {
      background: $darkerpurple;
      font-style: italic;

      @media (max-width: $screen-xs-max) {
        text-align: center;
        
        a {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      background: #7D194A;
    }

    &:nth-child(3) {
      background: #66123C;
    }

    p {
      margin-bottom: 0;
    }

    a {
      color: #999999;
    }
  }
}

ul.separator {
  li {
    display: inline-block;
    margin-left: 5px;

    + li {
      &:before {
        content: '|';
        margin-right: 10px;
      }
    }
  }
}

.calendar-header, .ui-datepicker-inline .ui-datepicker-header {
  font-weight: $weight-light;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;

  @include breakpoint(tablet) {
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 24px;
  }

  .calendar-weekly-room {
    font-weight: $weight-reg;

    .title {
      font-size: 14px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        line-height: 14px;
        display: block;
      }
    }

    td {
      position: relative;
      width: 1%;
      text-align: center;
    }

    .prev, .next {
      font-size: 9px;
      height: 28px;

      &:before, &:after {
        font-size: 20px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
      }
    }

    .prev {
      float: left;
      padding-left: 20px;
    }

    .next {
      float: right;
      padding-right: 20px;
    }
  }

  button, p {
    display: inline-block;
  } 

  button {
    background: none;
    border: none;
    text-transform: uppercase;
  }

  .prev, .next {
    position: relative;

    &:before, &:after {
      font-family: 'icons';
    }
  }

  .prev {
    &:before {
      content: $icon-arrow-left;
      left: 0;
    }
  }

  .next {
    &:after {
      content: $icon-arrow-right;
      right: 0;
    }
  }

  .title {
    text-align: center;
  }
}

/* PAGE */
.page-body {
  @include breakpoint(tablet) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.item-well {
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 14px 4px;
  @include clearfix;

  @include breakpoint(tablet) {
    border: 1px solid $gray-lighter;

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  &.item-well-fill {
    background-color: $gray-well;
    border-radius: $border-radius-base;
    padding: 10px;

    &.purple {
      background-color: $darkpurple;
    }

    &.inverse {
      background: #999;
      border-color: $gray-lighter;

      th {
        color: #FFF;
        padding-top: 10px;
      }
    }
  }
}

/* FOOTER */
.footer {
  font-weight: $weight-reg;

  ul {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
    vertical-align: middle;

    &:not(.logo) + li:before {
      content: '|';
      margin-right: 16px;
    }
  }
}

.footer-menu {
  background-color: #181D21;
  color: #FFF;
  padding: 25px 0 18px;

  li {
    display: inline-block;
    margin: 10px;

    @media (max-width: $screen-xs-max) {
      &.logo {
        display: block;
      }
      /*&:not(.logo) + li:before {
        content: '';
        margin-right: 0;
      }*/
    }
    

    @include breakpoint(tablet) {
      margin: 0 0 0 10px;

      &.logo {
        display: block;
        margin-bottom: 10px;
      }
    }

    @include breakpoint(phablet) {
      &.logo {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  a {
    color: #FFF;
  }
}

.footer-copyright {
  background-color: #000;
  color: #9B9B9B;
  font-size: 12px;
  padding: 20px 0;

  li {
    margin-left: 2px;

    &:not(.logo) + li:before {
      margin-right: 6px;
    }
  }

  a {
    color: #9B9B9B;
  }
}

.fill-bg:before {
  content: "";
  background: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
}

.ui-datepicker {
  display: none;
}


.table-padding-wrap {
  padding: 0 16px;

  &.form-gutter {
    padding: 0 22px;
  }
}

table {
  td {
    &.top {
      vertical-align: top !important;
    }

    &.bottom {
      vertical-align: bottom !important;
    }
  }
}