* {
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

ul.inline {
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: middle;
  }
}

/* HEADERS */
.header_bar-primary, .header_bar-secondary {;
  padding: 12px 0;
}

.header_bar-primary {
  background-color: $purple;
}

.header_bar-secondary {
  background-color: $gray-lighter;
}

/* PAGE */
.page-body {
  @include breakpoint(tablet) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/* FOOTER */
.footer {
  ul {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
    vertical-align: middle;

    &:not(.logo) + li:before {
      content: '|';
      margin-right: 16px;
    }
  }
}

.footer-menu {
  background-color: $gray;
  color: #FFF;
  padding: 25px 0 18px;

  li {
    display: block;
    margin: 10px;

    @media (max-width: $screen-xs-max) {
      &:not(.logo) + li:before {
        content: '';
        margin-right: 0;
      }
    }
    

    @include breakpoint(tablet) {
      display: inline-block;
      margin: 0 0 0 10px;

      &.logo {
        display: block;
        margin-bottom: 10px;
      }
    }

    @include breakpoint(phablet) {
      &.logo {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  a {
    color: #FFF;
  }
}

.footer-copyright {
  background-color: $gray-dark;
  color: #9B9B9B;
  font-size: 12px;
  padding: 20px 0;

  li {
    margin-left: 2px;

    &:not(.logo) + li:before {
      margin-right: 6px;
    }
  }

  a {
    color: #9B9B9B;
  }
}