html, body {
  font-weight: $weight-light;
}

* {
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

ul.inline {
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    vertical-align: middle;
  }
}

.fineprint {
  font-weight: $weight-light;
  font-size: 12px;
}

/* HEADERS */
.header_bar-primary, .header_bar-secondary {;
  padding: 12px 0;
}

.header_bar-primary {
  background-color: $purple;

  .btn {
    font-size: 15px;
  }
}

.header_bar-secondary {
  background-color: $gray-lighter;

  td + td {
    padding-left: 5px;
  }

  .btn {
    font-size: 14px;
  }

  .bar-select {
    width: 240px;
  }

  .bar-checkout {
    ul {
      width: 434px;
      background: #FFF;
      padding: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      border-radius: $border-radius-base;

      li {
        display: inline-block;
        padding: 3px 20px 9px;
      }

      p {
        color: $text-color;
        margin-bottom: 0;

        &:before {
          font-family: 'icons';
          font-size: 20px;
          margin-right: 8px;
          position: relative;
          top: 2px;
        }
      }

      &.calendar {
        p {
          span.date {
            font-weight: $weight-light;
          }

          &:before {
            content: $icon-calendar;
          }
        }
      }
    }
  }

  /*> .container > table td:last-child {
    width: 128px;
  }*/
}

.calendar-header {
  font-weight: $weight-reg;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px 0;

  .calendar-weekly-room {
    td {
      position: relative;
      width: 1%;
      text-align: center;
    }

    .prev, .next {
      font-size: 9px;
      height: 28px;

      &:before, &:after {
        font-size: 20px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
      }
    }

    .prev {
      float: left;
      padding-left: 20px;
    }

    .next {
      float: right;
      padding-right: 20px;
    }
  }

  button, p {
    display: inline-block;
  } 

  button {
    background: none;
    border: none;
    text-transform: uppercase;
  }

  .prev, .next {
    position: relative;

    &:before, &:after {
      font-family: 'icons';
    }
  }

  .prev {
    &:before {
      content: $icon-arrow-left;
      left: 0;
    }
  }

  .next {
    &:after {
      content: $icon-arrow-right;
      right: 0;
    }
  }

  .title {
    text-align: center;
  }
}

/* PAGE */
.page-body {
  @include breakpoint(tablet) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.item-well {
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 14px 4px;
  @include clearfix;

  @include breakpoint(tablet) {
    border: 1px solid $gray-lighter;

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }

  &.item-well-fill {
    background-color: $gray-well;
    border-radius: $border-radius-base;
    padding: 10px;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 100;

  .modal {
    background: #000;
    font-weight: $weight-reg;
    width: 640px;
    height: 400px;
    border-radius: $border-radius-base;
    display: block;
    left: 50%;
    margin-left: -320px;
    top: 50%;
    margin-top: -200px;
    text-align: center;
    padding: 70px 0;

    img {
      margin-bottom: 30px;
    }

    p {
      font-size: 18px;
      color: #FFF;
    }

    .modal-footer {
      border: none;
      color: #9B9B9B;
      text-transform: uppercase;
      text-align: center;
      margin-top: 34px;

      p {
        color: #9B9B9B;
      }

      p .icon {
        color: $brand-primary;
      }

      ul {
        padding: 0;
        text-align: center;

        li {
          margin: 0 10px;
          display: inline-block;

          .icon {
            color: #E7E7E7;
            font-size: 20px;
            margin-right: 5px;
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}

/* FOOTER */
.footer {
  font-weight: $weight-reg;

  ul {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
    vertical-align: middle;

    &:not(.logo) + li:before {
      content: '|';
      margin-right: 16px;
    }
  }
}

.footer-menu {
  background-color: $gray;
  color: #FFF;
  padding: 25px 0 18px;

  li {
    display: block;
    margin: 10px;

    @media (max-width: $screen-xs-max) {
      &:not(.logo) + li:before {
        content: '';
        margin-right: 0;
      }
    }
    

    @include breakpoint(tablet) {
      display: inline-block;
      margin: 0 0 0 10px;

      &.logo {
        display: block;
        margin-bottom: 10px;
      }
    }

    @include breakpoint(phablet) {
      &.logo {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  a {
    color: #FFF;
  }
}

.footer-copyright {
  background-color: $gray-dark;
  color: #9B9B9B;
  font-size: 12px;
  padding: 20px 0;

  li {
    margin-left: 2px;

    &:not(.logo) + li:before {
      margin-right: 6px;
    }
  }

  a {
    color: #9B9B9B;
  }
}