.modal {
  text-align: center;
  padding: 0!important;
  font-weight: $weight-reg;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }

  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin-top: 70px;
  }

  .btn {
    font-size: 14px;
  }

  .checkbox.terms a {
    text-decoration: underline;
  }
}

.modal-purple {
  background-color: $purple;
  color: #FFF;

  &.modal-content {
    a {
      color: #FFF;
    }

    .header {
      border-bottom-color: $purple-line;
    }
  }

  .select {
    background: #FFF;
  }
}

.modal-settings {
  color: #FFF;

  .modal-content, .modal-body {
    background: transparent;
    box-shadow: none;
    border: none;
  }
  
  .wrap {
    background: $darkpurple;
    padding: 20px 30px 30px;
  }

  .btn {
    margin-top: 20px;
  }

  .h3, h3 {
    font-weight: $weight-light;
  }
}

.modal-content {
  .header {
    text-align: center;
    border-bottom: 1px solid $gray-line;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .footer-cta {
    margin: 20px auto;
    padding: 0;
    text-align: center;

    li {
      display: inline-block; 
      vertical-align: middle;
      margin: 0 5px;
      width: 45%;

      .btn {
        width: 100%;
      }

      @include breakpoint(tablet) {
        width: 135px;
      }
    }
  }

  + .modal-content {
    margin-top: 10px;
  }

  .form-group {
    border-radius: $border-radius-base;
    margin-bottom: 4px;
  }
}


/* SPECIFIC */
.modal.purple {
  .modal-content {
    background: #561136;
    padding: 20px;
    color: #FFF;

    .modal-body {
      border-radius: $border-radius-base;
      background: $purple;

      h1 {
        font-size: 20px;

        @include breakpoint(tablet) {
          font-size: 36px;
        }
      }

      > .header {
        border-color: $purple-line;
        font-weight: $weight-reg;
      }
    }
  }

  .select:not(.payment-method) {
    background: #FFF;
  }


  hr {
    background: $purple-line;
    height: 1px;
    border: none;
    margin: 10px 0;
  }
}

.modal-signup {
  .form-group {
    margin-bottom: 10px;
  }
}

.modal-signin {
  .footer p {
    text-align: center !important;
  }

  .modal-content {
    background: #561136;
    padding: 20px;
    color: #FFF;

    .modal-body {
      border-radius: $border-radius-base;
      background: $purple;

      > .header {
        border-color: $purple-line;
        font-weight: $weight-reg;
        font-size: 20px;

        @include breakpoint(tablet) {
          font-size: 36px;
        }
      }

      p {
        text-align: center;

        @include breakpoint(tablet) {
          text-align: left;
        }
      }

      .col-sm-4:nth-child(2) {
        margin: 30px 0;

        @include breakpoint(tablet) {
          margin: 0;
          padding-top:38px;
        }
      }
    }

    table {
      width: 100%;

      td {
        width: 1%;

        &:nth-child(2) > div {
          padding: 0 30px;
        }
      }
    }
  }

  .well {
    background: #FFF;
    color: $text-color;

    p {
      font-weight: $weight-light;
    }
  }

  a {
    color: #FFF;
  }

  .border-left {
    position: relative;

    @media (max-width: $screen-xs-max) {
      .clearfix {
        margin-left: -10px;
        margin-row: -10px;
      }
    }

    @include breakpoint(tablet) {
      > p {
        padding-left: 10px;
      }

      &:before {
        content: '';
        border-left: 1px solid $purple-line;
        position: absolute;
        left: 5px;
        bottom: 0;
        height: 75%;
      }
    }

  }

  .footer-signin {
    font-weight: $weight-reg;
    margin: 20px auto 0;

    a {
      color: $brand-primary;
    }
  }
}

.modal-show-datepicker {
  .modal-content {
    border-radius: 0;

    &.calendar-wrap {
      padding: 10px;
    }
  }  
}

.modal-loading {
  .modal-content {
    border-radius: 0;
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  p {
    font-size: 18px;
    color: #FFF;
  }

  .modal-footer {
    border: none;
    color: #9B9B9B;
    text-transform: uppercase;
    text-align: center;
    margin-top: 34px;

    p {
      color: #9B9B9B;
    }

    p .icon {
      color: $brand-primary;
    }

    ul {
      padding: 0;
      text-align: center;

      li {
        margin: 0 10px;
        display: inline-block;

        .icon {
          color: #E7E7E7;
          font-size: 20px;
          margin-right: 5px;
          position: relative;
          top: 3px;
        }
      }
    }

  }
}

.terms-well {
  background: #ECECEC;
  padding: 15px;
  margin: 15px 10px;
  color: $text-color;

  @include breakpoint(tablet) {
    margin: 15px;
    padding: 30px;
  }
}


.modal-details {
  .modal-dialog {    
    background-color: $purple;
    padding: 10px;

    @include breakpoint(tablet) {
      width: 500px;
      padding: 20px;
    }

    .modal-content {
      box-shadow: none;
    }

    .modal-body {
      padding: 0;

      img {
        width: 100%;
      }

      .content {
        padding: 0 10px 10px;

        @include breakpoint(tablet) {
          padding: 0 20px 20px;
        }
      }
    }

    .modal-content {
      border-radius: 0;
    }

  }
}

.modal-error {
  .modal-footer {
    border: none;
    padding-bottom: 0;
  }
}