.page-member, .page-others {
  background: #F4F4F4;
  margin: 0;

  input, textarea, .form-group .select {
    border: 1px solid #979797;
    background: $gray-well;
  }
}

.column-sidebar {
  &.fill-bg:before {
    width: calc(100% - 20px);  
    left: 10px;
  }

  .column-sidebar-wrap {
    padding: 20px 15px 0;
    background: #FFF;

    > h3, > h4 {
      color: $purple;
      margin-top: 0;
    }
  }

  section {
    padding: 20px 0;

    .section-header {
      color: $purple;
      font-weight: $weight-bold;
    }
  }
}

.page-body {
  > .container {
    overflow: hidden;
    position: relative;
    
    @media (max-width: $screen-xs-max) {
      /*background-color: $purple;*/
      padding: 0;
    }
  }
}


/* HOTEL - ROOM */
.hotel-rooms-hero {
  @include clearfix;

  > div {
    float: left;
  }

  .hotel-rooms-intro {
    div {
      p {
        font-size: 14px !important;
        color: #4a4a4a !important;
        font-family: $font-family-base !important;

        &:first-child {
          font-size: 18px !important;
          margin-bottom: 30px !important;
        }
      }
    }
  }
}

@include breakpoint(phablet) {
  .hotel-rooms-intro {
    width: 440px;
    height: 450px;

    &.item-well {
      padding: 32px;
    }
  }
}

.hotel-rooms-slideshow {
  width: 100%;
  
  @include breakpoint(phablet) {
    width: 500px;
  }
  
  @include breakpoint(desktop) {
    width: 700px;
  }
}


.hotel-rooms-item {
  @include clearfix;

  table {
    width: 100%;
  }

  .hotel-rooms-price table {
    width: 100%;

    td {
      display: table-cell;
      width: 1%;
      padding-bottom: 10px;

      + td {
        padding-left: 5px;
        padding-right: 5px;
      }

      @include breakpoint(tablet) {
        display: block;
        width: 100%;
      }
    }
  }

  > div {
    padding: 20px;
  }

  @include breakpoint(tablet) {
    border: 1px solid $gray-line;
    margin: 10px 0;
    padding: 20px 15px;

    > div {
      float: left;
      padding: 0 20px;
    }
  }

  .hotel-rooms-image {
    width: 100%;
    padding: 0;

    img {
      width: 100%;
    }

    @include breakpoint(tablet) {
      width: 220px;
    }

    @include breakpoint(desktop) {
      width: 280px;
    }
  }

  .hotel-rooms-info {
    line-height: 16px;

    @include breakpoint(tablet) {
      width: calc(100% - 410px);
    }
  }

  .hotel-rooms-price {
    padding: 16px;

    @include breakpoint(tablet) {
      width: 130px;
      padding: 0;

      .top-height {
        height: 86px;
      }

      .btn-gray {
        line-height: 14px;
      }
    }
  }
}

.hotel-rooms-size {
  margin-bottom: 0;
  padding: 0;
  font-weight: $weight-reg;

  li {
    display: inline-block;
    vertical-align: middle;

    + li {
      margin-left: 30px;
    }

    &:before {
      font-family: 'icons';
      font-size: 20px;
      margin-right: 5px;
    }
  }

  .hotel-rooms-bed:before {
    content: $icon-bed;
  }

  .hotel-rooms-guest:before {
    content: $icon-people-fill;
  }
}

.hotel-rooms-rate {
  text-transform: uppercase;
  border-bottom: 1px solid #9B9B9B;
  border-top: 1px solid #9B9B9B;
  padding: 5px 0;

  @include breakpoint(tablet) {
    background: #F4F4F4;
    padding: 25px 15px 42px !important;
    border: none;
  }

  .item-well {
    margin-bottom: 0;
    border: none;
  }
  
  .calendar-date-price {
    div {
      width: 13%;
      font-size: 12px;
      font-weight: $weight-reg;
      padding: 0 5px;
      margin-top: 10px;
      float: left;
      border-radius: $border-radius-base;
      border: 1px solid #9B9B9B;

      + div {
        margin-left: 5px;
      }

      @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
        width: 20%;

        &:nth-child(4){
          clear: both;
          margin-left: 0;
        }
      }

      p {
        margin-bottom: 0;
      }

      .price {
        color: $brand-primary;
        font-size: 14px;
        line-height: 12px;

        small {
          font-size: 9px;
          color: $text-color;
          display: block;
        }
      }
    }
  }
}

/* HOTEL CALENDAR */
.hotel-room-rate-calendar {
  width: 100%;

  .calendar-rate-header {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $weight-reg;
    text-align: center;
    color: #FFF;
    @include clearfix;

    @include breakpoint(tablet) {
      font-size: 20px;
    }

    p {
      width: 14.285%;
      display: block;
      float: left;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  .calendar-rate-dates {
    @include clearfix;
  }

  .calendar-rate-item {
    vertical-align: top;
    float: left;
    width: 14.285%;

    &:not(.unavailable) {
      cursor: pointer;

      input[type="checkbox"]:checked {
        + div {
          background: $purple;
          color: #FFF;

          p span {
            color: #F8E71C;
          }
        }
      }
    }


    div {
      border: none;
      background: #FFF;
      border-radius: $border-radius-base;
      text-transform: uppercase;
      height: 70px;
      margin: 2px;

      @include breakpoint(tablet) {
        height: 96px;
        margin: 5px;
      }
    }

    &.unavailable {
      div {
        background-color: #E7E7E7;

        p:not(.date) {
          font-size: 9px;
          line-height: 11px;
          color: #9B9B9B;
          text-align: center;
          font-weight: $weight-reg;

          @include breakpoint(tablet) {
            font-size: 18px;
            line-height: 48px;
            text-align: left;
            font-weight: $weight-light;
          }
        }

        p.date {
          border-color: #FFF;
        }
      }
    }

    p.date {
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: 0;
      font-size: 12px;
    }

    p {
      padding: 4px 5px 1px;

      small {
        font-size: 9px;
        padding: 0;
        font-weight: $weight-reg;
        line-height: 12px;
      }

      .price {
        display: block;
        font-size: 14px;
        color: $brand-primary;
        font-weight: $weight-reg;
        line-height: 8px;

        @include breakpoint(tablet) {
          font-size: 28px;
          line-height: 24px;
        }
      }

      @include breakpoint(tablet) {
        padding: 9px 10px 6px;
        line-height: 16px;

        small {
          font-size: 12px;
        }

        span {
          font-size: 35px;
          line-height: 35px;
        }
      }
    }
  }

  + .btn {
    margin: 20px auto;
    width: 149px;
  }

  &.three-column {
    @media (max-width: $screen-xs-max) {
      .calendar-rate-item {
        width: 33.3333%;

        div {
          height: 100px;
        }

        &.unavailable {
          p:not(.date) {
            font-size: 16px;
            line-height: 20px;
            margin-top: 4px;
          }
        }

        p {
          padding: 9px 8px 3px;
          font-size: 16px;

          small {
            font-size: 12px;
          }

          .price {
            font-size: 30px;
            line-height: 24px;
          }
        }
      }
    }
  }
}

.layout-price {
  font-size: 18px;
}

/* SHOWS DETAILS PAGE */
.layout-purchase {
  margin-bottom: 0;
  padding: 14px 4px;
  @include clearfix;

  @include breakpoint(tablet) {
    margin-bottom: 10px;
    border-radius: $border-radius-base;
  }

  img {
    border-radius: $border-radius-base;
  }

  .sections {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;

    .panel {
      border: 3px solid $purple;
      border-radius: $border-radius-base;
    } 
  }

  div.column-left {
    @include make-sm-column(8);

    .sections {
      padding: 0;
    }
  }

  div.column-right {
    @include make-sm-column(4);

    @include breakpoint(tablet) {
      padding-left: 0;
    }
  }

  .column {
    .sections {
      padding: 0;

      > div {
        padding: 30px;

        + div {
          border-left: 1px solid $gray-line;
        }
      }
    }


    &.column-checkout {
      .sections {
        padding: 20px;

        @include breakpoint(tablet) {
          padding: 65px 30px;
        }
      }
    }
  }

  &.purple {
    .column-left {
      .sections {
        background: $purple;
        border: none;
      }
    }
  }

  .tab .sections {
    padding: 0;
    border: none;

    .tab-content {
      background: transparent;
      padding: 5px;
    }

    .nav-tabs {
      a {
        white-space: nowrap;
      }
    }

    table {
      width: 100%;

      .terms {
        margin: 20px 0 30px;
        line-height: 24px;
      }
    }
  }

  .hotel-room-gallery {
    @include make-sm-column(7);

    p {
      font-size: 18px;
    }
  }

  .hotel-price-review {
    @include make-sm-column(5);
  }

  .page-shows & {
    background: $darkpurple;
    padding: 15px;

    @media (max-width: $screen-xs-max) {
      padding-bottom: 0px;
    }

    .show-info {
      background: $purple;
    }
  }
}

.layout-calendar {
  padding: 0;

  @media (max-width: $screen-xs-max) {
    padding: 10px 2px;
  }

  .calendar-header {
    margin-bottom: 0;
  }
}

.column-payment {
  .sections {
    padding: 30px 20px;

    &.purple {
      background: $purple;
      color: #FFF;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  .fineprint {
    font-size: 14px;
  }
}



.show-selected {
  font-weight: $weight-reg;
}

body.landing {
  background-image: url('../img/bg-landing-mobile.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;

  @include breakpoint(tablet) {
    background-position: center;
  }

  .navbar-default {
    background: transparent;
  }

  .slides-bg {
    position: absolute;
    width: 100%;
    height: calc(100% - 135px);
    /*height: 100%;*/
    
    .slick-dots {
      z-index: 5;
    }

    div {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;

      p {
        color: #FFF;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        font-weight: $weight-reg;
        text-align: center;
        position: relative;
        z-index: 1;
        position: absolute;
        bottom: 100px;
        width: 100%;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 0;
        background: rgba(0, 0, 0, 0.6);
      }
    }

    ul.slick-dots {
      text-align: center;
      bottom: 5px;
      left: 0;
      width: 100%;
      position: absolute;
    
      button {
        padding: 0;
      }

      li {
        display: inline-block;

        > button {
          background: #FFF;
          display: block;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          border: 3px solid #FFF;
          margin: 0 2px;
          text-indent: -9999px;
        }

        &.active, &.slick-active {
          button {
            background-color: #2B2B2B;
          }
        }

        &:hover button {
          background-color: $gray-lighter;
        }
      }
    }
  }
}

.page-landing {
  @include breakpoint(tablet) {
    position: relative;
    display: table;
    width: 100%;
    z-index: 2;
    min-height: 650px;

    .container {
      height: 70%;
      display: table;
    }

    .align-middle {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .form-search {
    @include make-sm-column(4);
    @include make-sm-column-offset(2);
  }

  .form-signin {
    @include make-sm-column(4);

    @media (max-width: $screen-xs-max) {
      margin-top: 40px;
      margin-bottom: 50px;
    }
  }
}

.upsell-wrap {
  margin: 40px auto 0;

  @include breakpoint(tablet) {
    margin: 40px auto 20px;
    
    &.sidebar {
      margin-top: 0;
    }
  }


  @media (max-width: $screen-xs-max) {
    > .h4 {
      padding: 0 16px;
    }
  }

  .clearfix {
    background: $purple;
    padding: 16px 10px;

    @include breakpoint(tablet) {
      padding: 6px 5px;
      border-radius: $border-radius-base;
    }
  }

  .upsell-item {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    
    @include breakpoint(tablet) {
      margin: 4px 0;
    }
  }

  .upsell-item-wrap {
    border-radius: $border-radius-base;
    background: #FFF;
    padding: 20px;

    > p:first-child {
      margin-top: 0;
    }
  }

  .result-image {
    width: 200px;
    margin-right: 20px;
  }
}

.page-bookings {
  table.transactions {
    border-color: transparent;

    @include breakpoint(tablet) {
      border-color: #DDD;
    }

    tbody tr, tfoot tr, thead tr {
      td, th {
        padding: 13px 20px 10px;
      }
    }

    @media (max-width: $screen-xs-max) {
      thead, tfoot, tbody, tr, th, td {
        display: block;
      }

      tr {
        padding-bottom: 10px;
        border-top: 1px solid #D6D6D6;
        background: #Fff;
      }

      tbody tr td {
        border: none;
        border-bottom: 1px solid #D6D6D6; 
        position: relative;
        padding-left: 50%; 

        &:before {
          background: #F4F4F4;
          position: absolute;
          top: 0;
          left: 0;
          width: 45%; 
          padding: 6px 10px; 
          white-space: nowrap;
          height: 100%;
          border-right: 1px solid #D6D6D6;
        }

        &:nth-child(1):before {
          content: 'Transaction Date';
        }

        &:nth-child(2):before {
          content: 'Booking No.';
        }
      
        &:nth-child(3):before {
          content: 'Status';
        }
      
      
        &:nth-child(4):before {
          content: 'Product';
        }


        &:nth-child(5):before {
          content: 'Total Amount';
        }
      }
    }
  }
}

.booking-well {
  padding: 25px !important;
  background-color: #D8D8D8 !important;

  th {
    background: #f4f4f4;
  }
}

.table-booking-confirmed {
  tbody > tr {
    > th {
      padding: 20px;
      width: 30%;
    }

    > td {
      padding: 20px 40px;
    }
  }

  td {
    background: #FFF;
  }
}

.page-voucher {
  .layout-purchase.purple {
    background: $darkpurple;

    > .clearfix {
      margin-left: 10px;
      margin-right: 10px;
      background: #FFF;
      border-radius: $border-radius-base;
    }

    .item {
      padding: 10px;

      &:not(.last-child) {
        border-bottom: 1px solid #ECECEC;
      }

      table {
        width: 100%;
      }

      img {
        border-radius: 0;

        @include breakpoint(tablet) {
          padding-right: 10px;
        }
      }

      td {
        width: auto;

        @media (max-width: $screen-xs-max) {
          display: block;
          width: 100%;

          img {
            width: 100%;
          }
        }

        &.voucher-image {
          width: 100%;

          @include breakpoint(tablet) {
            width: 280px;
          }
        }

        &.voucher-price {
          p {
            font-size: 20px;

            &.label {
              background: #D8D8D8;
              font-size: 12px;
              color: #4A4A4A;
              display: inline-block;
              padding-bottom: 5px;
              margin-bottom: 20px;
            }

            span {
              color: $brand-primary;
              font-weight: $weight-bold;
            }
          }
          @include breakpoint(tablet) {
            width: 300px;
          }
        }
      }

      ul {
        li {
          padding: 0 10px;
          display: inline-block;

          &:before {
            content: '•';
            margin-left: -10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

.page-shows {
  .review-show-selection {
    margin-top: 0;
  }

  .layout-purchase {
    margin-bottom: 0;

    .sections {
      margin-bottom: 0;
    }
  }

  .show-info-wrap {
    /*padding-right: 20px;*/
  }

  .show-info {
    background: $purple;
    
    @include breakpoint(tablet) {
      border-radius: $border-radius-base;
    }
  }

  .show-detail {
    p {
      font-size: 14px;

      &.overview {
        font-size: 16px;
      }
    }
  }

  .show-selection {
    padding-left: 0;
  }

  .form-group {
    margin-bottom: 12px;
  }

  .calendar-wrap {
    margin-left: -20px;
    margin-right: -20px;
    background: #FFF;
    padding: 7px;
    color: $text-color;
    margin-bottom: 3px;

    + .calendar-wrap {
      margin-bottom: 8px;
    }

    .shows-calendar, .ui-datepicker-inline .ui-datepicker-calendar {
      th {
        font-size: 12px;
        font-weight: $weight-reg;
        padding-bottom: 5px;
        border-bottom: none;
        color: #4a4a4a;
      }

      td span, td a {
        height: 33px;
        width: 40px;
        line-height: 31px;
        font-size: 14px;

      }
    }
  }

  .component-legend {
    ul {
      margin-bottom: 0;
    }
  }

  .calendar-header {
    border-bottom: 1px solid $gray-line;
    padding-bottom: 5px;
    margin-bottom: 20px;

    .title {
      margin-bottom: 0;
    }
  }

  .ui-datepicker-header {
    border-bottom: 1px solid $gray-line;

    a, .ui-datepicker-title, .ui-datepicker-next:after, .ui-datepicker-prev:before {
      color: $text-color;
      font-size: 24px;
    }

    .ui-datepicker-title {
      margin-bottom: 0;
    }

    .ui-datepicker-next, .ui-datepicker-prev {
      top: 7px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }

      &.ui-state-disabled {
        opacity: 0.3;
        cursor: default;
      }
    }
  }

  .ui-datepicker tbody>tr:first-child>td {
    padding-top: 0;
  }

  .ui-datepicker-current-day:before {
    background: transparent;
    width: 0;
    height: 0;
  }
}

/* MEMBERS */
@import 'pages/members';
@import 'pages/others';