.page-member, .page-others {
  background: #F4F4F4;
  margin: 0;

  input, textarea, .form-group .select {
    border: 1px solid #979797;
    background: $gray-well;
  }
}

.column-sidebar {
  &.fill-bg:before {
    width: calc(100% - 20px);  
    left: 10px;
  }

  .column-sidebar-wrap {
    padding: 20px 15px 0;
    background: #FFF;

    > h3, > h4 {
      color: $purple;
      margin-top: 0;
    }
  }

  section {
    padding: 20px 0;

    .section-header {
      color: $purple;
      font-weight: $weight-bold;
    }
  }
}

.page-body {
  > .container {
    overflow: hidden;
    position: relative;
    
    @media (max-width: $screen-xs-max) {
      /*background-color: $purple;*/
      padding: 0;
    }
  }
}

/* HOTEL RESULTS PAGE */
.results-item {
  border-bottom: 2px solid $purple;
  margin-bottom: 10px;

  @include breakpoint(tablet) {
    border-bottom: none;
  }

  .hotel-results-wrap {
    padding: 10px;

    @include breakpoint(tablet) {
      height: 172px;
      border: 1px solid $gray-line;
      margin: 5px;
    }
  }

  @include breakpoint(tablet) {
    .top-height {
      height: 105px;
    }
  }
}

.hotel-results {
  background: #FFF;
  margin: 2px 0;

  .hotel-results-desc {
    @include make-xs-column(12);
    @include make-sm-column(6);
    font-weight: $weight-light;

    @include breakpoint(tablet) {
      padding: 0;
    }

    .h3 {
      display: inline-block;
      margin-top: 0;
      width: calc(100% - 120px);
      vertical-align: top;

      @include breakpoint(tablet) {
        width: auto;
      }
    }

    .btn-moredetails {
      float: right;
    }

    .top-height {
      margin-bottom: 10px;
    }
  }

  .top-height {
    overflow: hidden;
  }
}

.hotel-image-price {
  width: 100%;

  td {
    vertical-align: bottom;
  }
}

/* HOTEL - ROOM */
.hotel-rooms-hero {
  @include clearfix;

  > div {
    float: left;
  }

  .hotel-rooms-intro {
    h2 + p {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}

@include breakpoint(phablet) {
  .hotel-rooms-intro {
    width: 440px;
    height: 450px;

    &.item-well {
      padding: 32px;
    }
  }

  .hotel-rooms-slideshow {
    width: 700px;
  }
}

@include breakpoint(tablet) {
  .hotel-rooms-item {
    margin: 10px 0;

    > div {
      float: left;
      padding: 0 10px;
    }
  }
  .hotel-rooms-image {
    width: 280px;
  }

  .hotel-rooms-info {
    width: 340px;
    line-height: 16px;
  }

  .hotel-rooms-rate {
    width: 376px;

    .item-well {
      min-height: 174px;
    }
  }

  .hotel-rooms-price {
    width: 130px;

    .top-height {
      height: 86px;
    }
  }
}

.hotel-rooms-size {
  margin-bottom: 0;
  padding: 0;
  font-weight: $weight-reg;

  li {
    display: inline-block;
    vertical-align: middle;

    + li {
      margin-left: 30px;
    }

    &:before {
      font-family: 'icons';
      font-size: 20px;
      margin-right: 5px;
    }
  }

  .hotel-rooms-bed:before {
    content: $icon-bed;
  }

  .hotel-rooms-guest:before {
    content: $icon-people-fill;
  }
}

.hotel-rooms-rate {
  text-transform: uppercase;

  .item-well {
    margin-bottom: 0;
    border: none;
  }
  
  .calendar-date-price {
    div {
      width: 13%;
      font-size: 12px;
      font-weight: $weight-reg;
      padding: 0 5px;
      margin-top: 10px;
      float: left;
      border-radius: $border-radius-base;
      border: 1px solid #9B9B9B;

      + div {
        margin-left: 5px;
      }

      p {
        margin-bottom: 0;
      }

      .price {
        color: $brand-primary;
        font-size: 14px;
        line-height: 12px;

        small {
          font-size: 9px;
          color: $text-color;
          display: block;
        }
      }
    }
  }
}

/* HOTEL CALENDAR */
table.hotel-room-rate-calendar {
  width: 100%;

  th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $weight-reg;
    text-align: center;

    @include breakpoint(tablet) {
      font-size: 20px;
    }
  }

  td {
    vertical-align: top;
    width: 14.285%;

    div {
      border: none;
      background: #FFF;
      border-radius: $border-radius-base;
      text-transform: uppercase;
      height: 70px;
      margin: 2px;

      @include breakpoint(tablet) {
        height: 96px;
        margin: 5px;
      }
    }

    &.unavailable {
      div {
        background-color: #E7E7E7;

        p:not(.date) {
          font-size: 9px;
          line-height: 11px;
          color: #9B9B9B;
          text-align: center;
          font-weight: $weight-reg;

          @include breakpoint(tablet) {
            font-size: 18px;
            line-height: 48px;
            text-align: left;
            font-weight: $weight-light;
          }
        }

        p.date {
          border-color: #FFF;
        }
      }
    }

    &.selected {
      div {
        background: $purple;
        color: #FFF;

        p span {
          color: #F8E71C;
        }
      }
    }

    p.date {
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: 0;
      font-size: 12px;
    }

    p {
      padding: 4px 5px 1px;

      small {
        font-size: 9px;
        padding: 0;
        font-weight: $weight-reg;
        line-height: 12px;
      }

      span {
        display: block;
        font-size: 14px;
        color: $brand-primary;
        font-weight: $weight-reg;
        line-height: 8px;
      }

      @include breakpoint(tablet) {
        padding: 9px 10px 6px;
        line-height: 16px;

        small {
          font-size: 12px;
        }

        span {
          font-size: 35px;
          line-height: 35px;
        }
      }
    }
  }

  + .btn {
    margin: 20px auto;
    width: 149px;
  }
}

.layout-price {
  font-size: 18px;
}

/* SHOWS DETAILS PAGE */
.layout-purchase {
  margin-bottom: 10px;
  padding: 14px 4px;
  border-radius: $border-radius-base;
  @include clearfix;

  img {
    border-radius: $border-radius-base;
  }

  .sections {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #FFF;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-base;

    .panel {
      border: 3px solid $purple;
      border-radius: $border-radius-base;
    } 
  }

  div.column-left {
    @include make-sm-column(8);

    .sections {
      padding: 0;
    }
  }

  div.column-right {
    @include make-sm-column(4);

    @include breakpoint(tablet) {
      padding-left: 0;
    }
  }

  .column {
    .sections {
      padding: 0;

      > div {
        padding: 30px;

        + div {
          border-left: 1px solid $gray-line;
        }
      }
    }


    &.column-checkout {
      .sections {
        padding: 20px;

        @include breakpoint(tablet) {
          padding: 65px 30px;
        }
      }
    }
  }

  &.purple {
    .column-left {
      .sections {
        background: $purple;
        border: none;
      }
    }
  }

  .tab .sections {
    padding: 0;
    border: none;

    .tab-content {
      background: transparent;
      padding: 5px;
    }

    .nav-tabs {
      a {
        white-space: nowrap;
      }
    }

    table {
      width: 100%;

      .terms {
        margin: 20px 0 30px;
        line-height: 24px;
      }
    }
  }

  .hotel-room-gallery {
    @include make-sm-column(7);

    p {
      font-size: 18px;
    }
  }

  .hotel-price-review {
    @include make-sm-column(5);
  }

  .page-shows & {
    background: $darkpurple;
    padding: 15px;

    .show-info {
      background: $purple;
    }
  }
}

.layout-calendar {
  @media (max-width: $screen-xs-max) {
    padding: 10px 2px;
  }
}

.column-payment {
  .sections {
    padding: 30px 20px;
  }

  h3 {
    margin-bottom: 30px;
  }

  .fineprint {
    font-size: 14px;
  }
}



.show-selected {
  font-weight: $weight-reg;
}

body.landing {
  background-image: url('../img/landing-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .navbar-default {
    background: transparent;
  }
}

.page-landing-wide {
  padding: 200px 0;
}


/* MEMBERS */
@import 'pages/members';
@import 'pages/others';