/* RESULTS PAGE */

.results-item {
  border-bottom: 2px solid $purple;
  margin-bottom: 10px;
  background: #FFF;
  margin: 2px 0;

  table {
    width: 100%;
  }

  @include breakpoint(tablet) {
    border-bottom: none;
  }

  .results-wrap {
    padding: 10px;
    position: relative;

    @include breakpoint(tablet) {
      @include clearfix();
      border: 1px solid $gray-line;
      margin: 5px;
    }
  }

  @include breakpoint(tablet) {
    .top-height {
      height: 91px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    @include clearfix;

    li {
      display: block;
      float: left;
    }
  }

  .item-result-name {
    margin-top: 0;
  }
}

.results-desc {

  @include breakpoint(tablet) {
    padding-left: 10px;
  }
  
  .h3 {
    margin-top: 0;

    @media (max-width: $screen-xs-max) {
      font-size: 20px;
    }
  }

  .price {
    font-size: 16px;
    color: $text-color;

    @include breakpoint(tablet) {
      font-size: 20px;
    }
  }

  ul {
    margin: 0 -3px;

    .visible-xs & {
      margin-top: 10px;
    }
  }

  li {
    width: 50%;
    padding: 0 3px;

    .btn {
      width: 100%;
      height: 40px;
      font-size: 14px;
      line-height: 28px;
    }

    &:last-child {
      margin-top: 5px;
      width: 100%;
    }
  }
}

.hotel-results {
  .results-desc {
    font-weight: $weight-light;

    .h3 {
      display: inline-block;
      vertical-align: top;

      @include breakpoint(tablet) {
        width: auto;
      }
    }
  }

  td:last-child {
    width: 100%;

    @include breakpoint(tablet) {
      width: 120px;
    }
  }

  @include breakpoint(tablet) {
    .results-wrap {
      height: 155px;
    }
  }

  .item-result-thumbnail, .item-result-price {
    margin-top: 100px;

    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }

  .item-result-thumbnail {
    width: 200px;
    overflow: hidden;

    img {
      max-height: none;
      width: 100;
    }
    
    @include breakpoint(tablet) {
      width: 175px;
    }
  }

  .item-result-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    margin-top: 15px;

    @include breakpoint(tablet) {
      width: calc(100% - 295px);
      margin-top: 0;
    }
  }

  .item-result-price {
    width: calc(100% - 220px);
    margin-left: 20px;

    @include breakpoint(tablet) {
      width: 120px;
      margin-left: 0;
    }
  }

  .item-result-thumbnail, .item-result-price, .item-result-description {
    float: left;

    @include breakpoint(tablet) {
      position: static;
      height: 100%;
    }

    table {
      height: 100%;
    }
  }
}

.hotel-image-price {
  @include make-xs-column(12);
  @include make-sm-column(3);
  margin-bottom: 10px;

  @include breakpoint(tablet) {
    margin-bottom: 0;
  }

  table {
    width: 100%;

    td {
      vertical-align: bottom;
    }
  }
}

/* to delete */
.image-holder {
  vertical-align: top;
  
  .show-results &, .themepark-results & {
    width: 130px;
    padding-right: 10px;

    @include breakpoint(tablet) {
      width: 194px;
      padding-right: 0;
    }
  }

  .hotel-results & {
    width: 100%;
    vertical-align: middle;

    @include breakpoint(tablet) {
      width: 175px;
    }
  }
}
/* to delete */

.themepark-results {
  ul > li {
    width: 100%;
  }
}