.inner-section-sidebar {
  @include make-sm-column(4);

  ul {
    padding-left: 0;

    li {
      list-style: none;
      position: relative;

      &.active, &.slick-active {
        &:before {
          content: $icon-arrow-right;
          color: $brand-primary;
          font-family: 'icons';
          font-size: 10px;
          position: absolute;
          left: -15px;
          top: 4px;
        }
      }
    }

    a {
      font-family: $headings-font-family;
      font-weight: $open-bold;
      color: #000;
      text-transform: uppercase;

      &:hover {
        color: $brand-primary;
      }
    }
  }
}

