<div class="search-bar header_bar-primary">
  <div class="container">
    {{> search-inline}}
  </div>
</div>

<div class="header_bar-secondary">
  <div class="container">

    <table>
      <tr>
        <td>
          <div class="btn-group btn-group-justified component-steps-indicator">
            <span class="btn{{#if pageticket}} active{{/if}}">
              <span>Ticket Selection</span>
            </span>
            <span class="btn{{#if pagecheckout}} active{{/if}}">
              <span>Express Checkout</span>
            </span>
            <span class="btn{{#if pagethankyou}} active{{/if}}">
              <span>Thank You</span>
            </span>
          </div>
        </td>
        <td>
          <a href="cart" class="btn btn-cart">
            My Cart
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>