<td class="bar-select">
  <div class="select">
    <select class="form-control">
      <option value="1">Hotel Only</option>
      <option value="2">Hotel & Shows</option>
      <option value="3">Shows</option>
    </select>
  </div>
</td>
<td class="bar-date hidden-xs">
  <div class="input-group">
    <span class="input-group-addon">
      <span class="icon icon-calendar"></span>
    </span>
    <input type="text" class="form-control text-right datepicker" placeholder="Date">
  </div>
</td>
<td class="bar-promo hidden-xs">
  <input type="text" class="form-control text-center" placeholder="Promo Code">
</td>
<td>
  <a href="hotel-listing.html" class="btn btn-primary">Search<span class="hidden-xs"> Now</span></a>
</td>