<div class="member-info-bar">
  <div class="container">
    <div class="clearfix">
      <div class="col-xs-12 col-sm-8">
        <p>
          Welcome Mr. James Bond.
          <a href="#">Click this link to find out more about the acitivities on 17th September 2017.</a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-2">
        <p class="text-center">
          <a href="member-profile.html">
            GP Balance
            <strong>890</strong>
          </a>
        </p>
      </div>
      <div class="col-xs-6 col-sm-2">
        <p class="text-center">
          <a href="member-profile.html" class="text-center">
            Tier Points
            <strong>10,900</strong>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>