<div id="open-search" class="searchbar-toggle"></div>
<table class="component-bar-search">
  <tr>
    <td class="bar-select">
      <div class="select">
        <select name="filter-type" id="a" class="form-control">
          <option value="hotels">Hotels Only</option>
          <option value="shows">Shows Only</option>
          <option value="hotels">Hotels + Shows</option>
          <option value="hotels">Hotels + Theme Park</option>
          <option value="hotels">Hotels + Shows + Theme Park</option>
        </select>
      </div>
    </td>
    <td class="bar-date">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="icon icon-calendar"></span>
        </span>
        <input id="datepicker-range-from" type="text" class="form-control input" placeholder="Start Date">
      </div>
    </td>
    <td class="bar-date">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="icon icon-calendar"></span>
        </span>
        <input id="datepicker-range-to" type="text" class="form-control input" placeholder="End Date">
      </div>
    </td>
    <td class="bar-promo">
      <div class="select">
        <select name="filter-type" id="a" class="form-control">
          <option value="1">Package 1</option>
          <option value="2">Package 2</option>
          <option value="3">Package 3</option>
          <option value="4">Package 4</option>
        </select>
      </div>
    </td>
    <td class="bar-promo">
      <input type="text" class="form-control text-center" placeholder="Promo Code">
    </td>
    <td>
      <a href="hotel-listing.html" class="btn btn-primary btn-block">Search<span class="hidden-xs"> Now</span></a>
    </td>
  </tr>
</table>