<div class="header_bar-secondary header-bar">
  <div class="container">
    <table>
      <tr>
        {{#ifEquals type 'hotel'}}
          <td class="steps-indicator-wrap hidden-xs">
            {{> steps-indicator-hotel}}
          </td>
        {{/ifEquals}}
        {{#ifEquals type 'typez'}}
          <td class="steps-indicator-wrap hidden-xs">
            {{> steps-indicator-shows-typez}}
          </td>
        {{/ifEquals}}
        {{#ifEquals type 'typea'}}
          <td class="steps-indicator-wrap hidden-xs">
            {{> steps-indicator-shows}}
          </td>
        {{/ifEquals}}
        {{#ifEquals type 'themepark'}}
          <td class="steps-indicator-wrap hidden-xs">
            {{> steps-indicator-themeparks}}
          </td>
        {{/ifEquals}}
        <td>
          <table>
            <tr>
              {{> bar-search-partial}}
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="header-bar visible-xs">
  <div class="container">
    {{#ifEquals type 'hotel'}}
      {{> steps-indicator-hotel}}
    {{/ifEquals}}
    {{#ifEquals type 'typez'}}
      {{> steps-indicator-shows-typez}}
    {{/ifEquals}}
    {{#ifEquals type 'typea'}}
      {{> steps-indicator-shows}}
    {{/ifEquals}}
    {{#ifEquals type 'themepark'}}
      {{> steps-indicator-themeparks}}
    {{/ifEquals}}
  </div>
</div>