<div class="header_bar-primary">
  <div class="container">
    {{> search-inline}}
  </div>
</div>

<div class="header_bar-secondary">
  <div class="container">
    <form action="" class="form-inline">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Hotels</button>
        <button type="button" class="btn btn-default">Room</button>
        <button type="button" class="btn btn-default">Addon</button>
        <button type="button" class="btn btn-default">Confirm</button>
      </div>

      <div class="form-group">
        <select class="form-control">
          <option value="1">Package 1</option>
          <option value="2">Package 2</option>
          <option value="3">Package 3</option>
        </select>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon icon-calendar"></span>
            <strong>CHECK IN</strong>
          </span>
          <input type="text" class="form-control" placeholder="Date">
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <span class="icon icon-calendar"></span>
            <strong>CHECK OUT</strong>
          </span>
          <input type="text" class="form-control" placeholder="Date">
        </div>
      </div>

      <div class="form-group">
        <a href="cart" class="btn btn-gray">
          <span class="icon icon-cart"></span>
          My Cart
        </a>
      </div>
    </form>
  </div>
</div>