<div class="header_bar-secondary header-bar">
  <div class="container">
    <ul class="bar-search-with-indicator">
      <li>
        {{> steps-indicator-hotel}}
      </li>
      <li>
        <table>
          <tr>
            {{> bar-search-partial}}
          </tr>
        </table>
      </li>
    </ul>
    <!--  
    <table class="bar-search-with-indicator">
      <tr>
        <td class="hidden-xs">
          {{> steps-indicator-hotel}}
        </td>
        <td>
          <table>
            <tr>
              {{> bar-search-partial}}
            </tr>
          </table>
        </td>
      </tr>
    </table>
    -->
  </div>
</div>

<div class="header-bar visible-xs">
  <div class="container">
    {{> steps-indicator-hotel}}
  </div>
</div>