<div class="form-show-selection">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label>Select Date</label>
        <input type="text" class="form-control" data-toggle="modal" data-target="#modal-show-datepicker" value="31 August 2017">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Select Time</label>
        <div class="select">
          <select name="" id="" class="form-control">
            <option value="">20:00</option>
            <option value="">20:00</option>
            <option value="">20:00</option>
            <option value="">20:00</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="form-group">
        <label>Select Seat</label>
        <div class="select">
          <select name="" id="" class="form-control">
            <option value="">PS5: 80.40MYR/50GP</option>
            <option value="">PS5: 80.40MYR/50GP</option>
            <option value="">PS5: 80.40MYR/50GP</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="form-group">
        <label>Quantity</label>
        <div class="select">
          <select name="" id="" class="form-control">
            <option value="">1</option>
            <option value="">1</option>
            <option value="">1</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-block">Add</button>

  <div class="review-show-selection">
    <table>
      <tr>
        <th>Time</th>
        <th>Seat</th>
        <th>Qty</th>
        <th>Price</th>
      </tr>
      <tr>
        <td>20:00</td>
        <td>PS1</td>
        <td>2</td>
        <td>MYR160.00</td>
      </tr>
    </table>
  </div>

</div>


{{> modal-show-datepicker}}