<ul class="component-info-settings">
  <li class="weather">
    <span class="icon icon-cloud"></span>
    17<sup>o</sup>
  </li>
  <li class="language">
    <div class="btn-group">
      <button data-toggle="modal" data-target="#modal-settings">
        <span class="icon icon-language"></span>
        <span>ENG</span>
      </button>
    </div>
  </li>
  <li class="currency">
    <div class="btn-group">
      <button data-toggle="modal" data-target="#modal-settings">
        <span class="icon icon-coin"></span>
        <span>MYR</span>
      </button>
    </div>
  </li>
</ul>