<ul class="component-info-settings">
  <li>
    <span class="icon icon-cloud"></span>
    17<sup>o</sup>
  </li>
  <li>
    <div class="btn-group">
      <button class="dropdown-toggle" data-toggle="dropdown">
        <span class="icon icon-globe"></span>
      </button>
      <div class="dropdown-menu">
        <ul>
          <button>ENG</button>
          <button>简体中文</button>
        </ul>
        <select name="" id="" hidden="hidden">
          <option value="eng">ENG</option>
          <option value="cn">简体中文</option>
        </select>
      </div>
    </div>
    ENG
  </li>
  <li>
    <div class="btn-group">
      <button class="dropdown-toggle" data-toggle="dropdown">
        $
      </button>
      <div class="dropdown-menu">
        <ul>
          <button>MYR</button>
          <button>SGD</button>
          <button>USD</button>
        </ul>
        <select name="" id="" hidden="hidden">
          <option value="eng">ENG</option>
          <option value="cn">简体中文</option>
        </select>
      </div>
    </div><span class="">$</span>
    MYR
  </li>
</ul>