<div class="modal fade modal-signin purple" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="#SignUp">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="header">Members Sign In</h1>
        <div class="row">
          <div class="col-sm-6">
            <p>Please sign in if you are a Genting Rewards member to enjoy exclusive offers and discounts.</p>
            <form>
              <div class="form-group">
                <label class="sr-only">Member ID</label>
                <input type="text" class="form-control" placeholder="Member ID">
              </div>
              <div class="form-group">
                <label class="sr-only">Pin Number</label>
                <input type="text" class="form-control" placeholder="Pin Number">
              </div>

              <input type="submit" class="btn btn-primary btn-block" value="Sign In">

              <div class="text-left">
                <div class="checkbox">
                  <label>
                    <input type="checkbox">
                    <span>Keep me signed in</span>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-6">
            <div class="well">
              <h4 class="header">Register as Member</h4>
              <p>Enjoy exclusive discount for Genting Rewards members.</p>
              <a href="register.html" data-toggle="modal" data-target="#modal-signup" class="btn btn-primary btn-block">Sign Up for Free</a>
            </div>
            <!-- <a href="#" class="text-center btn-block btn-link" data-toggle="modal" data-target="#modal-signup-new">Continue as Guest</a> -->
            <a href="hotel-listing.html" class="text-center btn-block btn-link">Continue as Guest</a>
          </div>  
        </div>
        <div class="row footer">
          <div class="col-sm-12">
            <hr>
            <p>
              <a href="#">Activate PIN</a> | <a href="#">Forgot PIN?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>