<div class="modal fade modal-settings in" id="modal-setting" tabindex="-1" role="dialog" style="display: block;">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>                  
  <div class="modal-dialog" role="document">
    <div class="clearfix">
      <div class="column-setting">
        <div class="wrap">
          <p class="h3">Curency/Point</p>
          <ul>
            <li class="selected" data-value="MYR">MYR</li>
            <li data-value="SGD">SGD</li>
            <li data-value="USD">USD</li>
            <li data-value="CNY">CNY</li>
            <li data-value="GP">Genting Points</li>
          </ul>
        </div>
      </div>
      <div class="column-setting">
        <div class="wrap">          
          <p class="h3">Language</p>
          <ul>
            <li class="selected" data-value="eng">ENG</li>
            <li data-value="zn">简体中文</li>
          </ul>
        </div>
      </div>
    </div>
    <select name="" id="setting-currency">
      <option value="MYR">MYR</option>
      <option value="SGD">SGD</option>
      <option value="USD">USD</option>
      <option value="CNY">CNY</option>
      <option value="GP">Genting Points</option>
    </select>

    <select name="" id="setting-language">
      <option class="selected" data-value="eng">ENG</option>
      <option data-value="zn">简体中文</option>
    </select>
  </div>
</div>