<div class="modal fade modal-show-datepicker" id="modal-show-datepicker" tabindex="-1" role="dialog" aria-labelledby="#SignUp">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="header-section">
          <h4>Legend</h4>
        </div>
        <p>
          Select the type and number of tickets you would like to buy. After each selection please click “Add” to add the tickets to your basket.
        </p>
        <hr>
        <table class="component-legend">
          <tr>
            <td colspan="3"><p><strong>Availability Information</strong></p></td>
          </tr>
          <tr>
            <td>
              <ul>
                <li><span class="square selected"></span></li>
                <li>Selected<br>day</li>
              </ul>
            </td>
            <td>
              <ul>
                <li><span class="square available"></span></li>
                <li>Available<br>day</li>
              </ul>
            </td>
            <td>
              <ul>
                <li><span class="square unavailable"></span></li>
                <li>Unavailable<br>day</li>
              </ul>
            </td>
          </tr>            
        </table>
      </div>
    </div>

    <div class="modal-content calendar-wrap">
      <div class="calendar-header large">
        <button class="prev"></button>
        <p class="title"><strong>AUGUST</strong> 2017</p>
        <button class="next"></button>
      </div>
      <table class="shows-calendar">
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
        <tr>
          <td class="unavailable"> <span></span></td>
          <td class="unavailable"> <span>1</span></td>
          <td class="unavailable"> <span>2</span></td>
          <td class="unavailable"> <span>3</span></td>
          <td class="unavailable"> <span>4</span></td>
          <td class="unavailable"> <span>5</span></td>
          <td class="unavailable"> <span>6</span></td>
        </tr>
        <tr>
          <td class="unavailable"> <span>7</span></td>
          <td class="unavailable"> <span>8</span></td>
          <td class="unavailable"> <span>9</span></td>
          <td class="unavailable"> <span>10</span></td>
          <td class="unavailable"> <span>11</span></td>
          <td class="unavailable"> <span>12</span></td>
          <td class="unavailable"> <span>13</span></td>
        </tr>
        <tr>
          <td class="unavailable"> <span>14</span></td>
          <td class="available"> <span>15</span></td>
          <td class="available"> <span>16</span></td>
          <td class="available"> <span>17</span></td>
          <td class="available"> <span>18</span></td>
          <td class="available"> <span>19</span></td>
          <td class="available"> <span>20</span></td>
        </tr>
        <tr>
          <td class="available"> <span>21</span></td>
          <td class="available"> <span>22</span></td>
          <td class="available"> <span>23</span></td>
          <td class="available"> <span>24</span></td>
          <td class="selected"> <span>25</span></td>
          <td class="available"> <span>26</span></td>
          <td class="available"> <span>27</span></td>
        </tr>
        <tr>
          <td class="available"> <span>28</span></td>
          <td class="available"> <span>29</span></td>
          <td class="available"> <span>30</span></td>
          <td class="available"> <span>31</span></td>
          <td class="unavailable"> <span></span></td>
          <td class="unavailable"> <span></span></td>
          <td class="unavailable"> <span></span></td>
        </tr>
      </table>

      <button class="btn btn-primary btn-block">Add</button>
    </div>
  </div>
</div>