<div class="modal fade modal-details" id="modal-moredetails" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="assets/img/banner-details.jpg" alt="Banner Shows">

        <div class="content">
          <h2>Kitaro - Kojiki & The Universe 2017</h2>
          <p>
            Kitaro is a Japanese recording artist, composer, record producer best known for his electronic-instrumental music. He is often regarded as one of the most prominent names in the new-age music scene. In 1986, he signed with Geffen Records for a worldwide distribution arrangement. 
          </p>
          <p>
            By 1987, he had collaborated with various notable musicians like Micky Hart and Jon Andersen. Having a strong fanbase with 10 million records sold worldwide, Kitaro kicked off his world tour from 2007 to 2011. Passionate about giving back, Kitaro donated a portion of the proceeds from his album sales to charity.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>