<div class="modal fade modal-loading" id="modal-loading" tabindex="-1" role="dialog" aria-labelledby="#SignUp">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="assets/img/logo-rw.svg" alt="" class="center-block">
        <div class="component-preloader">
          <div class="mask"></div>
        </div>
        <p class="text-center">Please wait, retrieving the best rate for you.</p>

        <div class="modal-footer">
          <p>
            <span class="icon icon-trophy"></span>
            Best Rate Guarantee
          </p>

          <ul>
            <li>
              <span class="icon icon-handshake-o"></span>
              Same Day Booking
            </li>
            <li>
              <span class="icon icon-diamond"></span>
              Exclusive Member's Rates
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>