<div class="modal fade modal-signup" id="modal-signup" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-purple">
      <div class="modal-body">
        <h4 class="header">Register as Member</h4>

        <p>Continue to fill in details</p>

        <form action="">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="select">
                  <select name="" id="" placeholder="Title" class="form-control">
                    <option value="">Mr</option>
                    <option value="">Mrs</option>
                    <option value="">Ms</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>            
              <div class="form-group">
                <div class="select">
                  <select name="" id="" class="form-control" placeholder="Nationality">
                    <option value="">Malaysian</option>
                    <option value="">Singaporean</option>
                  </select>
                </div>
              </div>
              <div class="form-group clearfix">
                <div class="col-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">ID No.</span>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="select">
                    <select name="" id="" placeholder="ID Type" class="form-control">
                      <option value="">Passport</option>
                      <option value="">ID / IC</option>
                      <option value="">Army</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn"><span class="icon icon-calendar"></span></button>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Contact No.">
              </div>
              <div class="form-group">
                <div class="select">
                  <select name="" id="" class="form-control">
                    <option value="">State</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="select">
                  <select name="" id="" class="form-control">
                    <option value="">Country</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="row">
        
            <div class="checkbox terms">
              <label>
                <input type="checkbox"> 
                <span>
                  Yes! I would like to apply to become a Genting Rewards<sup>&trade;</sup> member and agree to the <a href="#">membership terms and conditions</a>. I acknowledge and agree that my application for membership is subject to consideration and acceptance by Genting Worldcard Services Sdn Bhd.
                </span>
              </label>
            </div>

            <ul class="footer-cta">
              <li>
                <input type="reset" class="btn btn-reset">
              </li>
              <li>
                <input type="submit" class="btn btn-primary">
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>