<h4>Please select a payment method</h4>

<div class="checkout-payment-method">
  <label>
    <input type="radio" name="checkout-payment-method[]" class="radio-button" value="Credit Card">
    <span class="btn btn-default">Credit Card</span>
  </label>
  <label>
    <input type="radio" name="checkout-payment-method[]" class="radio-button" value="Debit Card">
    <span class="btn btn-default">Debit Card</span>
  </label>
  <label>
    <input type="radio" name="checkout-payment-method[]" class="radio-button" value="China UnionPay">
    <span class="btn btn-default">China UnionPay</span>
  </label>
  <label>
    <input type="radio" name="checkout-payment-method[]" class="radio-button" value="Alipay">
    <span class="btn btn-default">Alipay</span>
  </label>
  <label>
    <input type="radio" name="checkout-payment-method[]" class="radio-button" value="Maybank2u">
    <span class="btn btn-default">Maybank2u</span>
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox"> Yes, I have read and agree to the <a href="#">Terms and Conditions.</a>
  </label>
</div>

<div class="fineprint">
  <p>I hereby expressly declare that i have read, understood and voluntarily and unconditionally agreed to the terms and conditions stipulated in the <a href="#" target="_blank">Personal Data Precessing Statement</a> and hereby consent to the processing of my Personal Data in the manner described in the Personal Data Processing Statement.</p>
  <p><strong>Please proceed to counter for your tax invoice.</strong></p>
</div>