<h4>Please select a payment method</h4>

<div class="checkout-payment-method">
  <div class="select payment-method">
    <select name="" id="" class="form-control">
      <option value="">Credit Card</option>
      <option value="">Debit Card</option>
      <option value="">China UnionPay</option>
      <option value="">Alipay</option>
      <option value="">Maybank2u</option>
    </select>
  </div>
</div>
<div class="checkbox">
  <label>    
    <input type="checkbox">
    <span>
      Yes, I have read and agree to the <a href="#">Terms and Conditions.</a>
    </span>
  </label>
</div>

<div class="fineprint">
  <p>I hereby expressly declare that i have read, understood and voluntarily and unconditionally agreed to the terms and conditions stipulated in the <a href="#" target="_blank">Personal Data Precessing Statement</a> and hereby consent to the processing of my Personal Data in the manner described in the Personal Data Processing Statement.</p>
  <p><strong>Please proceed to counter for your tax invoice.</strong></p>
</div>