<div class="header_bar-secondary header-bar">
  <div class="container">
    <div class="component-steps-indicator type-a">
      <ul>
        <li class="{{#if pageticket}} active{{/if}}">
          <div>
            <span class="badge">1</span>
            <span>Ticket Selection</span>
          </div>
        </li>
        <li class="{{#if pagecheckout}} active{{/if}}">
          <div>
            <span class="badge">2</span>
            <span>Checkout</span>
          </div>
        </li>
        <li class="{{#if pageconfirm}} active{{/if}}">
          <div>
            <span class="badge">3</span>
            <span>Thank You</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>