<div class="component-steps-indicator has-date">
  <ul>
    <li class="{{#if pagehotels}} active{{/if}}">
      <div>
        <span>Hotels</span>
      </div>
    </li>
    <li class="{{#if pageroom}} active{{/if}}">
      <div>
        <span>Room</span>
      </div>
    </li>

    <li class="{{#if pageaddon}} active{{/if}}">
      <div>
        <span>Add-on</span>
      </div>
    </li>

    <li class="{{#if pageconfirm}} active{{/if}}">
      <div>
        <span>Checkout</span>
      </div>
    </li>
  </ul>
</div>