<div class="component-steps-indicator">
  <ul>
    <li>
      <ul>
        <li class="{{#if pageshows}} active{{/if}}">
          <div>
            <span>Shows</span>
          </div>
        </li>
        <li class="{{#if pagetickets}} active{{/if}}">
          <div>
            <span>Tickets</span>
          </div>
        </li>
        <li class="{{#if pageconfirm}} active{{/if}}">
          <div>
            <span>Confirm</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>