<table class="component-steps-indicator">
  <tr>
    <td class="{{#if pagehotels}} active{{/if}}">
      <div>
        <span>Hotels</span>
      </div>
    </td>
    <td class="{{#if pageroom}} active{{/if}}">
      <div>
        <span>Room</span>
      </div>
    </td>
    <td class="{{#if pageaddon}} active{{/if}}">
      <div>
        <span>Add-on</span>
      </div>
    </td>
    <td class="{{#if pageconfirm}} active{{/if}}">
      <div>
        <span>Checkout</span>
      </div>
    </td>
  </tr>
</table>
