<div class="upsell-item col-sm-{{column}}">
  <div class="upsell-item-wrap">
    <p class="h4">{{name}}</p>
    <p>
      <span class="truncate-text" data-count="75">{{desc}}</span>
      <a href="hotel-room.html">More Details</a>
    </p>

    <table>
      <tr>
        <td>
          <img src="assets/img/hotel-thumbnail.jpg" alt="{{name}}" class="result-image">
        </td>
        <td class="bottom">
          <div class="component-price-option">
            <p class="price">
              {{price}}
              <sup>MYR</sup>
            </p>
            <p>AVG Per Night</p>
          </div>
          <a href="hotel-room-calendar.html" class="btn btn-primary btn-block">Select</a>
        </td>
      </tr>
    </table>
  </div>
</div>