<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Genting Malaysia - Resorts World</title>
  <meta http-equiv="content-language" content="en-gb" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Genting Resorts World description.">

  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>

  <div class="border-top-brand"></div>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a itemscope itemtype="http://schema.org/LocalBusiness" class="navbar-brand" href="index.html">
          <h1 itemprop="name" class="sr-only">Genting Resorts World</h1>
          <span itemprop="image"><img src="./assets/img/logo-rw.svg" alt="Genting Resorts World"></span>
        </a>
      </div>

      <div id="nav-menu" class="collapse navbar-collapse">
        <!--  
        {{> info-settings}}
        -->
        <ul class="nav navbar-nav navbar-right">
          <!-- <li>
            <p>Sign in or create an account</p>
          </li> -->
          <li>
            <a href="about.html">
              <span class="sr-only">Facebook</span>
              <span class="icon icon-facebook-squared"></span>
            </a>
          </li>
          <li>
            <a href="#" >
              <span class="sr-only">YouTube</span>
              <span class="icon icon-youtube"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="sr-only">Twitter</span>
              <span class="icon icon-twitter-squared"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="sr-only">Instagram</span>
              <span class="icon icon-instagram"></span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="icon icon-user-circle-o"></span>
              <!-- <span class="caret"></span> -->
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  {{> header}}
  
  {{> body}}

  <section id="footer" class="footer">
    <div class="footer-menu">
      <div class="container">
        <ul>
          <li class="logo">
            <a href="/">
              <img src="./assets/img/logo-rw.svg" alt="Genting Resorts World">
            </a>
          </li>
          <li>
            <a href="#">How it works</a>
          </li>
          <li><a href="#">Language &amp; Currency</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Career</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <ul>
          <li>All Rights Reserved</li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>
            &copy; 2017 Genting Malaysia Berhad (58019-U)
          </li>
        </ul>
      </div>
    </div>
  </section>


  <script src="assets/js/app.js"></script>
</body>
</html>