<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Genting Malaysia - Resorts World</title>
  <meta http-equiv="content-language" content="en-gb" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="Genting Resorts World description.">

  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body class="{{class}}">
  
  <div class="border-top-brand"></div>

  {{#ifEquals class 'landing'}}
  <div class="slides-bg hidden-xs hidden-sm">
    <div style="background-image: url('assets/img/landing-bg-01.jpg">
      <p style="bottom: 10px;">
        <span style="font-size: 130px;">Come on</span>
        <span class="font-notera" style="font-size: 130px; padding-left: 40px;">UP</span>
      </p>
    </div>
    <div style="background-image: url('assets/img/landing-bg-02.jpg">
      <p>
        <span style="font-size: 70px;">Exciting things are</span>
        <span class="font-notera" style="font-size: 160px; display:block; line-height: 40px;">happening</span>
      </p>
    </div>
    <div style="background-image: url('assets/img/landing-bg-03.jpg">
      <p style="bottom: 10px;">
        <span style="font-size: 130px;">You</span>
        <span class="font-notera" style="font-size: 130px;">Matter</span>
      </p>
    </div>
  </div>
  {{/ifEquals}}

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="toggle-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a itemscope itemtype="http://schema.org/LocalBusiness" class="navbar-brand" href="index.html">
          <h1 itemprop="name" class="sr-only">Genting Resorts World</h1>
          <span itemprop="image"><img src="assets/img/logo-rw.svg" alt="Genting Resorts World"></span>
        </a>

        {{#ifEquals type 'typea'}}
        {{else}}
          <ul class="navbar-menu">
            <li>
              {{> info-settings}}
            </li>
            <li>
              <a href="#">
                <span class="sr-only">Cart</span>
                <span class="icon icon-cart"></span>
                <span class="badge">42</span>
              </a>
            </li>
            <li class="hidden-xs">
              <a href="#" data-toggle="modal" data-target="#modal-signin">Sign in or create an account</a>
            </li>
            <li class="dropdown user-profile">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <!-- <span class="icon icon-user-circle-o"></span> -->
                <img src="assets/img/profile.jpg" alt="" class="avatar">
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#modal-signin">Login</a></li>
                <li><a href="member-profile.html">My Account</a></li>
                <li><a href="bookings.html">My Booking</a></li>
                <li><a href="redemption.html">Redemption</a></li>
                <li><a href="#">Log Out</a></li>
              </ul>
            </li>
          </ul>
        {{/ifEquals}}
      </div>
    </div>
  </nav>
  {{> menu}}
  
  {{> header}}
  
  {{> body}}

  <section id="footer" class="footer">
    <div class="footer-menu">
      <div class="container">
        <ul>
          <li class="logo">
            <a href="/">
              <img src="assets/img/logo-footer.svg" alt="Genting Resorts World">
            </a>
          </li>
          <li>
            <a href="redemption.html">Redemption Guide</a>
          </li>
          <li><a href="bookings.html">My Booking</a></li>
          <li><a href="faq.html">FAQs</a></li>
          <li><a href="career.html">Career</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <ul>
          <li>All Rights Reserved</li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>
            &copy; 2017 Genting Malaysia Berhad (58019-U)
          </li>
        </ul>
      </div>
    </div>
  </section>

  {{> modal-currency}}
  {{> modal-language}}
  {{> modal-signin}}
  {{> modal-signin-guest}}
  {{> modal-signup}}

  
  <script src="assets/js/app.js"></script>
  
</body>
</html>