.page-shows {
  .layout-purchase .wrap {
    position: relative;
    margin: -15px;
    padding: 15px;
    @include clearfix;

    &:after {
      border: 15px solid gray;
      content: '';
      display: block;
      border-radius: 4px;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      position: absolute;
    }
  }

  .show-results .image-holder {
    width: 110px;
  }
}

.show-info-wrap {
  @include make-sm-column(5);
  
  @include breakpoint(tablet) {
    padding-left: 0;
  }
}

.show-selection {
  @include make-sm-column(7);

  @include breakpoint(tablet) {
    > .row > div:first-child {
      padding: 0;

      + div {
        padding-right: 0;
      }
    }
  }

  .form-show-selection, .form-guest-details {
    border-radius: $border-radius-base;
  }
}

.show-selection, .show-info-wrap {
  @media (max-width: $screen-xs-max) {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    .form-show-selection {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}

.show-info {
  color: #FFF;
  font-weight: $weight-reg;
  border: none;
  border-radius: $border-radius-base;
  position: relative;

  @media (max-width: $screen-xs-max) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  hr.top + p {
    font-weight: $weight-bold;
    font-size: 24px;
  }

  .sections {
    background: $purple;
  }

  .show-column-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    + p {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .show-detail {
    padding: 25px 25px 5px;
    text-align: left;
    position: relative;

    &:before {
      content: '';
      background: $purple;
      width: 100%;
      left: 0;
      height: 100%;
      bottom: 0;
    }

    @include breakpoint(tablet) {
      padding: 25px;
    }

    hr {
      margin: 20px 0;
    }
  }

  .show-detail-more {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: $purple;
    border-radius: $border-radius-base;
    overflow: auto;
    z-index: -1;
    opacity: 0;

    @include transition(opacity, 0.2s);

    &.in {
      z-index: 0;
      opacity: 1;
    }

    .close {
      font-size: 10px;
      right: 20px;

      + p {
        margin-top: 30px;
      } 
    }
  }

  img {
    width: 100%;
    border-radius: 0 !important;
  }
  .head {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
  }

  hr {
    background-color: $purple-line;
    height: 1px;
    border: none;
    margin: 10px auto;
    width: 100%;

    &.top {
      width: 95%;
    }
  }

  a {
    color: $yellow;

    &.btn {
      color: #FFF;
    }
  }

  &.upsell-wrap {
    margin-top: 0;

    .show-upsell-wrap {
      max-height: 529px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .results-item {
      background: transparent;
      border-bottom: 1px solid $purple-line;

      &:last-child {
        border-bottom: none;
      }

      .results-wrap {
        border: none;
      }

      .h3 {
        font-size: 20px;
      }
    }

    .show-results.results-item .image-holder {
      width: 120px;
      padding-right: 10px;
    }
  }
}

.form-show-selection {
  background: $purple;
  padding: 0 20px 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;

  @include breakpoint(tablet) {
    padding-top: 20px;
  }

  label {
    margin-bottom: 0;
    color: #FFF;
  }

  .select {
    background: #FFF;
  }

  > .row > .qty {
    padding-left: 0;
  }

  .head {
    font-size: 20px;
  }
}

.review-show-selection {
  background: #FFF;
  border-radius: $border-radius-base;
  padding: 10px;
  font-weight: $weight-reg;
  margin: 10px 0;

  table {
    width: 100%;

    tr:nth-child(n+2) td {
      border-top: 1px solid $text-color;
    }

    th {
      color: $purple;
      padding-bottom: 5px;
    }

    td {
      width: 1%;
      color: $text-color;
      position: relative;
      padding: 7px 0 3px;

      &.price {
        color: $purple;
        font-weight: $weight-bold;
      }
    }

    tr.add-row {
      td {
        opacity: 0.3;
        color: $text-color !important;

        button {
          cursor: default;
        }
      }
    }

    tr.total {
      font-size: 18px;
      font-weight: $weight-bold;
      text-transform: uppercase;
      
      td {
        border-top: none;
        border-bottom: 1px solid $text-color;
      }
    }
  }

  button {
    color: $text-color;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 0;
    float: right;
    position: relative;
    top: -1px;
  }
}

.form-guest-details {
  background: rgba(255, 255, 255, 0.9);
  border-bottom-right-radius: $border-radius-large;
  border-bottom-left-radius: $border-radius-large;
  padding: 20px;

  @media (max-width: $screen-xs-max) {
    border-radius: 0 !important;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 30px;
    background: #FFF;
    margin-top: 20px;
  }

  > p {
    color: $text-color;
  }

  input {
    border-color: #979797;
  }

  .form-group {
    margin-bottom: 10px;
  }
}

.show-column-header {
  font-size: 20px;
  font-weight: $weight-reg;
  color: #FFF;
  border-bottom: 1px solid $purple-line;
  padding-top: 10px;
  padding-bottom: 8px;
}


.layout-purchase-stack {
  .section {
    border: 1px solid #ECECEC;

    + .section {
      border-top: none;
    }
  }

  table {
    width: 100%;
  }

  td {
    width: auto;
  }

  label {
    font-weight: $weight-light;
    font-size: 16px;

    small {
      font-size: 13px;
      display: block;
      margin-top: -6px;
    }
  }

  .review-show-selection {
    background: #ECECEC;
    border-radius: 0;
    color: $purple;
    margin: 0;
    width: 100%;
    padding: 20px;

    table {
      tr.total, tr:nth-child(n+2) {
        td {
          border-color: $purple;
        }
      }

      td, tr.add-row td {
        color: $purple !important;
      }
    }
  }

  p.h3 {
    margin-top: 15px;
    margin-bottom: 0;

    + p {
      font-size: 20px;
    }
  }

  .cell-show-notice {
    background: $purple;
    color: #FFF;
    padding: 20px 20px 10px;
    
    @include breakpoint(tablet) {
      width: 330px;
    }
  }
}

.ticket-columns-wrap {
  @include clearfix;

  .ticket-column {
    float: left;
    padding: 10px;

    @include breakpoint(tablet) {
      padding: 0;
    }
  }

  .ticket-column-desc {
    width: 100%;

    @include breakpoint(tablet) {
      width: calc(100% - 517px);
      padding: 0 16px;
    }
  }

  .ticket-column-image {
    padding: 0;
    width: 100%;

    img {
      width: 100%;     
    }

    @include breakpoint(tablet) {
      width: 517px;
    }

    td {
      vertical-align: top;
    }

    .image-holder {
      width: 120px;

      @include breakpoint(tablet) {
        width: 217px;
      }
    }
  }

  .ticket-column-selection {
    width: 100%;

    @include breakpoint(tablet) {
      background: #ECECEC;
      width: 330px;
    }
  }
}

.stubs {
  @include make-xs-column(12);
  border-bottom: 1px solid #ECECEC;
  margin-top: -1px;
  margin-left: -1px;
  padding: 20px;
  color: $purple;

  @include breakpoint(mobile) {
    @include make-xs-column(6);
  }

  td {
    width: 50%;

    @include breakpoint(mobile) {
      width: 33.3333%;

      &:first-child {
        width: 30%;
        padding-right: 10px;
      }

      &:last-child {
        padding-left: 10px;
      }
    }

    @include breakpoint(tablet) {
      width: auto;

      &:first-child {
        width: 190px;
      }

      &:last-child {
        width: 125px;
      }
    }

    @media (max-width: 479px) {
      display: inline-block;

      &:last-child {
        width: 100%;
        display: block;

        .form-group, button {
          width: 49%;
          display: inline-block;
        }

        .form-group {
          margin-top: 10px;
        }
      }
    }
  }

  &:nth-child(2n+1) {
    border-right: 1px solid #ECECEC;
  }

  &:last-child {
    border-bottom: none;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .stub-name {
    font-size: 40px;
    color: $purple;
    text-transform: uppercase;
    text-align: center;
    background: #ECECEC;
    border: 1px solid #CECECE;
    border-radius: $border-radius-base;
    font-weight: $weight-reg;
    width: 160px;
    height: 86px;
    line-height: 88px;
    margin-bottom: 0;
  }
}